[2013-12-20 16:57] copiousfreetime opened #2 "Extract out the functionality so coverband may be used by any application"
It would be great if you could use coverband in a way similar to

[code]

 Or if might be an issue with the sampling code being in a block --

[code]

That way coveband could be used by any application not just a rack based one. :smile:

[2013-12-23 00:13] #2 closed, assigned to danmayer

[2013-12-25 02:54] kbaum opened #3 "Heroku Usage"
This seems pretty dependent on the file system which is ephemeral on heroku.  Does that mean this is not usable with heroku?

thx!

[2013-12-26 15:32] #3 closed, assigned to danmayer

[2014-01-11 17:03] danmayer opened #5 "add config for coverband_baseline file"
coverband should deal with ensuring the file exists or creating it and directories leading up to that file

[code]

something like that

[2014-02-09 17:47] dmitry opened #7 "Localization strings coverage"
It's just an idea I have a long time ago, but may be you've already seen something like does the same coverage, but for the locale strings or files? Sometimes you can find, that in the project, there are a lots of translations that aren't used already for a while. It will be cool to clean them out of the locale files.

[2014-02-21 04:45] #7 closed, assigned to nobody

[2014-03-07 08:14] mertonium opened #10 "Not exactly sure how to make this work"
This gem sounds great and I want to use it. I'm just not sure how.

The documentation seems to have most of the parts, but it lacks an overall explanation of work flow.

I've added the gem to my gemfile, made the tmp/coverband_baseline.json file, added the rake tasks and the middleware. Then I wanted to test it locally, but the README kind of stops there.

The `coverband_baseline` rake task seemed

[2014-03-08 19:39] #10 closed, assigned to nobody

[2014-03-20 05:36] #5 closed, assigned to nobody

[2014-03-25 02:56] danmayer opened #11 "move repeated method into gem"
baseline = if File.exist?('./tmp/coverband_baseline.json')
  JSON.parse(File.read('./tmp/coverband_baseline.json'))
else
  {}
end

Make the method take a file path or default to the above... I have been adding this into pretty much all the apps that use cover band.

[2014-03-25 22:46] danmayer opened #12 "better rails baseline"
so rails2 got a good baseline from

[code]

rails3 needs something better.

[2014-03-29 17:28] #12 closed, assigned to nobody

[2014-04-05 18:17] #11 closed, assigned to nobody

[2014-04-09 23:14] danmayer opened #13 "split dependencies so that SimpleCov isn't loaded in production"
from Brian E.

Dan Mayer: wondering if it would be appropriate to ensure HOME is set before this line:

https://github.com/danmayer/coverband/blob/38c864d42121ffad0787eec401110a7255166258/lib/coverband/reporter.rb#L1

---

My thoughts:

Basically Coverband always loads SimpleCov which assumes a HOME is set and not all deployed environments have that. Really SimpleCov isn't needed in production at

[2014-04-13 18:17] #13 closed, assigned to nobody

[2014-05-23 19:43] MrJoy opened #14 "Bug in Coverage class has been addressed?"
https://bugs.ruby-lang.org/issues/4796

Looks like this issue has been resolved.  Has it been resolved adequately to allow using the Coverage class?

[2014-06-29 20:43] rgrinberg opened #15 "Is there a way to change coverage output directory?"
I'm trying to get coverband working on heroku so I can't just write to the `coverage` directory. Is it possible to change the output directory to something like `/tmp/coverage` for now so I can test the report?

[2014-06-29 23:17] #15 closed, assigned to nobody

[2014-07-27 15:48] fgrehm opened #16 "Should baseline also be recorded on redis?"
Just wondering :-)

[2014-09-12 14:15] wheybags opened #19 "Empty lines and certain statements on their own being marked as uncovered"
with this code:

[code]

I get
![screen shot 2014-09-12 at 03 00 34 p m](https://cloud.githubusercontent.com/assets/1093274/4250786/329fd9ac-3a87-11e4-9db0-b2ae2f755dee.png)

It seems to me like this should be 100% covered, and those lines marked as uncovered are incorrect.

[2014-10-20 04:20] #19 closed, assigned to nobody

[2015-01-14 23:05] apsoto opened #21 "include certain gems in coverage"
We have some common code in our own gems.  I wish there was a way to include certain gems in the coverage while still ignoring all others in /vendor.

The only way I see to do it is to list all the gem paths in ignored _except_ the ones I want to include.  That's a lot regex patterns to check when it's checking whether to ignore the file or not.

[2015-01-18 17:30] danmayer commented on #21
Thanks for the comment. I think I could add a feature to allow this. I am currently moving and about to start up a job, so it will likely take me a couple weeks to get to this. I do have some plans to add a few new features and some performance improvements to Coverband. I will keep this on the list.

Thanks

[2015-03-13 23:15] hlin-blurb opened #23 "Line Counter Never Goes Above 1"
1) I run rake coverband:clear, coverband:baseline, coverband:coverage
2) I check that Coverband says my method foobar was not executed
3) I go to a page that executes foobar
4) I run coverband:coverage and check that Coverband says foobar has been executed once
5) I go to that page that executes foobar again (with old/new cookies, in the same/different browser, doesn't matter)
6) I run coverband:c

[2015-03-14 17:18] danmayer commented on #23
So the way coverband was setup. It was only intended to show 0 or 1 if code was executed or not. It wasn't trying to keep execution count. Now there has been talk of adding that feature, but it will never be fully accurate for a variety of reasons and could increase the performance costs of running Coverband.

Basically, Coverband is most often run on a sampling percentage of requests so it would

[2015-05-30 18:50] cawel opened #24 "Coverband not started when rails app is running"
I have tried to set up Coverband in my rails project (as a middleware) following the readme's instructions. I managed to create an HTML report for the baseline (using the rake task), but I'm not able to create a report for the requests done while my app is running.

Running `rake middleware` shows that the middleware is loaded, because I see `use Coverband::Middleware` in the middleware listing ou

[2015-05-30 19:24] cawel opened #25 "Is coverband useful for evaluating line coverage in the views of a rails project?"
The main reason why I decided to give coverband a try is to be able to delete useless code located in the views of a rails project. The report generated after 1 or 2 requests on my app shows various coverage for the touched controllers and models, but shows 100% coverage for *all* the views touched. However, I know this is not the case (I have if/else blocks in some of those views, and I know for

[2015-05-30 19:29] danmayer commented on #24
Have you setup a `config/coverband.rb` file?

My guess is you just need to setup the coverage percentage

` config.percentage        = Rails.env.production? ? 30.0 : 100.0`

See configuring [coverband section](https://github.com/danmayer/coverband#configure-coverband-options) section of the readme for more details.

you might also want `config.startup_delay     = Rails.env.production? ? 15 : 2`

[2015-05-30 19:35] danmayer commented on #25
no sorry it can't help with the views. The issue is that compile views have different line numbers and the coverage doesn't match up in a way that I can accurately report what is seen in views. For views you might want to try [flatfoot](https://github.com/livingsocial/flatfoot) although it doesn't give line by line usage it is only at the layout, template, partial level.

Coverband is more for the

[2015-05-30 19:57] cawel commented on #24
I did setup the `config/coverband.rb` file. But you were right, I omitted that line:

`config.percentage = Rails.env.production? ? 30.0 : 100.0`

I guess I assumed the default value would be 100%.

I removed my `around_filter`. It works as expected now. Thanks!

[2015-05-30 20:10] cawel commented on #25
Thanks for the gem recommendation, I'll give `flatfoot` a try.

As for coverband, even if the coverage figure is inaccurate for the views (100% for each view), I can still use the generated report, go into my views one by one, and get an idea of what ruby lines were never executed. So that's a start for my mission to clean up the views. Thanks!

[2015-05-30 20:10] #25 closed

[2015-05-30 20:10] #24 closed

[2015-05-30 20:37] danmayer commented on #25
Cool glad it can be helpful.

[2015-05-30 20:38] danmayer commented on #24
yeah perhaps I should output config settings on boot or something the default is actually 0.0 because it could cause unexpected perf issues if you haven't tuned things and understand the system.

[2015-08-04 16:11] atuel commented on #23
Looking at the Coverband::Base class, it looks like you already track this info and report it in verbose mode.  Just its never sent over to redis and as such is essentially stripped by the time the Reporter class generates a report as it only relies on data from redis.

When coverband isnt running in sampling mode, the number being tracked would be accurate right?  There are potentially some threa

[2015-08-09 23:02] danmayer commented on #23
yeah if you aren't sampling at all it would be accurate. With sampling on it would give you a relative count based on the sample rate as a estimate.

Right now I cache around sending to redis to reduce the performance impact of trying to send to much over. I could optionally allow repeated counts, which would allow the kind of data you are talking about.

I mostly considered the binary hit and not

[2015-08-11 03:57] atuel commented on #23
In addition to using coverband to find dead code, I've found it has some advantages over other coverage tools in unit and integration testing.  Most other tools rely the ruby coverage functionality which dont catch how some frameworks load ruby code.  Coverband is able to catch these since it does the coverage detection differently. So the use case is similar to the use case it would be when using

[2015-12-06 15:42] kbaum opened #28 "Multi-threaded environment"
Been getting more familiar with the code and it does not look like Coverband was meant to be used in a multi-threaded environment.  For example, ```Coverband::Base``` is a singleton keeps state of the current request.  In a multi-threaded environment such as Puma or Sidekiq, the worker threads would step on each other.

To be honest, i am not sure how possible it would be to make this library thre

[2015-12-08 02:47] danmayer commented on #28
The base would be easy enough to use `Thread.current` variables for all storage needs. I think the question would be more as you mentioned around the `set_trace_func` and  `C_extension` I haven't really explored what issues if any arise in these scenarios, but it is a good point.

[2015-12-08 03:40] kbaum commented on #28
I used your comment as a hint:

https://github.com/danmayer/coverband_ext/compare/master...kbaum:use_current_thread

There's not much out there as far as documentation but this seems to work in that it doesn't cause anything to crash :smile:

[2016-01-12 13:20] kbaum commented on #28
Closing this as this has been handled.

[2016-01-12 13:20] #28 closed

[2016-01-12 13:21] kbaum commented on #21
+1 for this.  I think it would be very helpful to be able to see what Gems are actually still being used.  Does anyone else's Gemfile just keep growing? :wink:

[2016-01-12 14:05] kbaum opened #42 "Sharing coverage report to the rest of the team"
I've noticed that actually generating and sharing the coverage report to the rest of the team can be a bit awkward.  Code coverage data is stored within our production redis.  In order to generate the report, i have to copy that data to my local redis instance.  Then i run the `coverband:coverage` task locally.  This is a bit confusing as the path to the files on my local instance is different tha

[2016-01-12 16:44] kbaum opened #44 "Showing untouched files"
I noticed that coverband only shows files that have been hit at least once.  This leaves out all of the files that were never hit and the number one candidates for deletion.  Was thinking it would be better to go through the full file system to produce the report instead of just relying on the set of files within redis.  Here is a hacked branch i used to get it done:

https://github.com/danmayer/c

[2016-01-12 16:54] dmitry commented on #21
@kbaum you can use a standard coverage tools to check if gem is used or no.

[2016-01-12 23:18] kbaum commented on #21
@dmitry - I guess you could know if it's being hit in tests, but you don't know if anything is actually using it in production.

[2016-01-13 09:24] dmitry commented on #21
@kbaum I guess it's possible with coverband:

[code]

[2016-01-13 13:54] kbaum commented on #21
Currently there is a hardcoded exclude of gems:

https://github.com/danmayer/coverband/blob/master/lib/coverband/base.rb#L45

[2016-01-15 15:19] danmayer commented on #42
So an approach similar to sidekiq web, flipper-ui, or others could work. Where we make a mountable tiny web frontend. Often just a single endpoint mountable Sintra works. I think in our case we would just have to allow the report to be generated in that front end and perhaps write the html report to redis or load the html templates that generate the report and pull them on the fly.

https://github

[2016-01-15 15:39] danmayer commented on #44
looking at how Rails `rake stats` finds and goes through files might be a good idea, I believe it is just `Dir.glob`

[2016-01-15 15:47] danmayer commented on #21
yeah we could make that configuration optional... @dmitry could you share more about why you want to see gem usage in a project. I always imagined people caring about the application under development. Is this to view internal company gems and rails engines etc?

[2016-01-15 16:00] dmitry commented on #21
The idea of @kbaum was to check if the gem is still used or no. From my side I think it would be very good to check what places of the gem are overused, so they could be optimized directly in the gem (we don't have any internal gems).

[2016-01-15 17:41] apsoto commented on #21
My original request for this issue was because of shared internal gems/engines

[2016-01-15 18:58] kbaum commented on #42
@danmayer - i think we use the exact same internal tools.  Love flipper! :wink:

I am thinking the same thing.  The problem is that the report generation tends to take a while.  We could pre-generate it with a rake task and then store it in redis like you said.

[2016-01-29 21:17] ryanclark2 opened #50 "Can we change the keys in redis to start from the app root?"
It would be great if this was an option. I'd like to submit a PR with this in it, but am having a hard time slicing in the right spot. Can you a)let me know if this is something you'd be willing to incorporate and b)point me in the right direction to implement it?

[2016-01-30 13:06] kbaum commented on #44
@dnasseri @danmayer - looks like this kind of comes with simplecov.  The following seems to work:

https://github.com/danmayer/coverband/compare/track_all_files?w=0

[2016-01-30 13:08] kbaum commented on #50
I think this probably makes sense but what specific problem are you running into?

thx!

[2016-01-30 15:11] danmayer commented on #44
nice

[2016-01-30 15:12] danmayer commented on #50
yeah I am not quite clear why or what the issue is?

[2016-01-30 15:26] dnasseri commented on #44
Very cool. It doesn't seem like were testing scov style reports in the reporter_test, do you think there is anyway we can?

[2016-01-30 17:23] iamryo commented on #50
We deploy multiple times per day and only keep the most recent 5 releases
on the production servers. This causes a lot of the keys in redis to point
at files in directories that no longer exist.

Relatedly, it would be nice to be able to specify where the baseline json
file goes. I know there's another issue to put it in redis. I'd love to
work on that too since we run into issues there as well.

[2016-01-30 21:47] kbaum commented on #50
Silly question. What is the use case for baseline file? Thx.
On Sat, Jan 30, 2016 at 12:23 PM Ryan Clark <notifications@github.com>
wrote:

[2016-01-30 23:01] iamryo commented on #50
Having created a baseline file in production when the gem was first
installed and deployed, its gone when we go back in to generate a report.
It would be great if that was still available after a bunch of code pushes.

I've thought a bit more about this today and realize that the current
approach kind of fingerprints the files so that if they change the line
numbers don't get messed up. That makes

[2016-01-30 23:40] danmayer commented on #50
um clearly there is confusion here... The baseline should be recorded in development and is merged when one pulls the production data for a full report. The purpose of the baseline is to capture all code executed during app boot. For perf reasons with the option to sleep through the first few requests Coverband during deployment would never capture the execution of things like method definitions w

[2016-01-30 23:43] danmayer commented on #50
Ahh just read the most recent response @iamryo yeah you can run the baseline over and over when ever needed. You are correct that it is trying to keep coverage across multiple deploys the reason being is some code might only get called on a weekly/monthly basis for reports. So while files are changing the goal would be able to still capture those long tail changes across deploys for files that don

[2016-01-31 20:38] kbaum commented on #42
@danmayer - spiked on this:

https://github.com/danmayer/coverband/compare/write_output_to_s3?w=0

Basically writes the coverage report to s3.  We could then create a little sinatra app that reads from that bucket and displays the results.

[2016-02-01 00:37] danmayer commented on #42
nice +1

[2016-02-01 17:42] iamryo commented on #50
@danmayer We do set the `config.root` (copied over from the config in the readme). We also set the `config.root_paths`. I'm not sure what the difference is between the two? I think we haven't yet tried deploying with the `config.root_paths` set to regex out the `releases/<release>/` path. I didn't think that was going to work since the entire path was still showing up in redis, but I guess that's

[2016-02-03 02:07] #42 closed

[2016-02-03 02:14] kbaum opened #52 "full path incorrect when running in heroku"
I am running the ```rake coverband:coverage``` task within heroku and updating to s3.  I noticed the file path is cut off for anything within the app directory.

![image](https://vts-monosnap.s3.amazonaws.com/Code_coverage_for_App_2016-02-02_21-06-25__6tp9g.png)

I am wondering if coverband/scov is getting confused because heroku deploys the app within a /app directory so the directory ends up bei

[2016-02-03 11:27] #52 closed

[2016-03-14 15:58] kerrizor opened #54 "Support other storage tools besides Redis"
Not everyone runs Redis, but are running some kind of key/value store. Would it be a huge change to abstract the Redis usage to allow for storage solutions?

[2016-03-15 00:56] danmayer commented on #54
So it would actually be pretty easy, we already have two stores

* [RedisStore](https://github.com/danmayer/coverband/blob/master/lib/coverband/redis_store.rb)
* [MemoryCacheStore](https://github.com/danmayer/coverband/blob/master/lib/coverband/memory_cache_store.rb)

Really we only use the memory store for tests, but I could see it being helpful in dev mode. So we would just need to make another

[2016-03-24 21:36] lucianosousa opened #55 "Current documentation doesn't work on 1.1 version"
Can you guys check this?

I've tried run here the 1.1 version and doesn't work. Installed v1.0.x and works fine.

error happening:
`uninitialized constant Coverband::Base::TracePoint`

[2016-03-26 23:48] danmayer commented on #55
yeah I can take a look, might not get a chance until Monday. We did make quite a few changes so documentation probably fell behind. I will set it up on a clean new Ruby 2.3 Rails app.

[2016-03-30 04:18] danmayer commented on #55
hmmm @lucianosousa can you give some additional feedback. I just went through the readme and setup a new Rails 4 app on Ruby 2.3.0 with coverband 1.1

https://github.com/danmayer/covered_rails

My commits might help you spot something different in your process /  mine

Could you tell me which versions of Ruby and Rails you have. Any other info about the steps or process you followed would also be

[2016-03-30 14:37] lucianosousa commented on #55
I'm using ruby 2.3.0 with rails 4.2.5

I did exactly what current documentation said. Nothing more, nothing less

[2016-03-31 16:14] danmayer commented on #55
OK if you have a repo, I could look over it as I feel like all I did was follow the docs as well so I don't have a good suggestion without a better idea of the steps you took.

[2016-03-31 18:24] lucianosousa commented on #55
Sure, it happened in a private repo but I'll try create the same env this week(public one).

[2016-04-07 12:01] thedrow opened #57 "Documentation doesn't describe how to read coverage statistics from Redis"
Is there an API to read the coverage statistics from Redis?
Some other method?

[2016-04-07 12:39] thedrow commented on #57
Seems like Coverband.report only fetches the coverage data from redis.
It wasn't clear from the documentation.

[2016-04-07 12:43] thedrow opened #58 "Reporting coverage fails if redis is not configured"
It seems that Coverband.report only works if redis is configured and fails with an exception message if it isn't

[code]

At the very least I think that the method should fail with a proper message.
I can make a pull request for that if you want to.
There's another option though. Maybe we should allow reporting coverage from the in-memory store if redis is not configured.

[2016-04-07 13:54] danmayer commented on #57
That is correct, We could definitely make that a bit more clear in the documentation. I mostly focused on the rake tasks and how people could get the html report opposed to the API where people can grab the data in code. Do you think a small API section on the docs would be helpful?

[2016-04-07 13:57] danmayer commented on #58
hmmm I think a better error message is best... The in memory is only really useful for the tests. Since normally the rake task or console would be in different memory than the web app server it would really never have any useful data. In theory you could use it by booting into console, calling some methods, and in console getting a report which would let yo see the code path of methods called in c

[2016-04-07 14:04] thedrow commented on #57
Yes it would. You can also add the documentation to the code and generate RDoc.

[2016-04-07 21:37] iamryo commented on #50
@danmayer @kbaum I will probably have some time tomorrow to work on this and/or other issues. I'd also like to work on the readme/wiki if everyone's ok with that. Do either of you have time to chat tomorrow?

[2016-04-10 15:03] thedrow opened #59 "Coverband does not set SimpleCov.root"
This causes SimpleCov to filter out files on it's reports.
I expected that when I set Coverband's root SimpleCov's root will also be set.

[2016-04-11 12:03] kbaum commented on #50
@iamryo - apologize, just getting to this now.  I am not that knowledgable on this specific issue though so i doubt i would be able to help.

[2016-04-14 17:03] danmayer commented on #59
I need a bit more details the reports I have looked at include filters I would expect could you share part of a report and list what you are seeing that is unexpected?

[2016-04-14 17:06] danmayer commented on #50
Hey sorry late as well. It still sounds like a filtering problem as all the keys should just be relative path and you are getting a full path. That way it wouldn't point to old files... If you have some file paths and names I might be able to help more. I do worry that when we made some changes for performance improvements we could have broken the regex filter for the release folders, which is wha

[2016-04-14 17:40] thedrow commented on #59
SimpleCov filters out what's not defined in it's root configuration variable.
See https://github.com/colszowka/simplecov/blob/master/lib/simplecov/defaults.rb#L7
That filter is added by default and it's filtering out the rest of the package.
I can share a report with you privately if you don't mind.

[2016-04-20 23:44] sthaha opened #60 "Missing documentation on why baseline is required"
Could you please shed some light into why creating a baseline is important? The README explains what  baseline does but not why.

[2016-04-24 22:45] danmayer commented on #60
Sure, I tried to improved the documentation let me know if this helps.

https://github.com/danmayer/coverband/commit/9ce4834104bf94645dfd33e7570297790fc6fe65

[2016-04-24 22:45] #60 closed

[2016-04-24 22:46] danmayer commented on #55
I still don't know what is needed or the issues since I was able to get it setup I am closing for now but if you have any more info on the problems or errors you faced let me know.

[2016-04-24 22:46] #55 closed

[2016-04-24 22:47] danmayer commented on #14
I filed an actual Ruby lang bug on this awhile ago this is now not relevant so I am going to close it out.

[2016-04-24 22:47] #14 closed

[2016-04-25 20:19] sthaha commented on #60
Thank you, that helped.

[2016-05-20 22:53] cayblood opened #61 "rake coverband:baseline never exits"
I'm just sitting here wondering what is happening when I run rake coverband:baseline. It never exits. I think there is a problem with my configuration, but I'm not sure what it is. Any ideas? Thanks in advance.

[2016-05-24 17:53] jaysonvirissimo opened #62 "Broken links in README"
Both the [simplecov walk through](http://www.tamingthemindmonkey.com/2011/09/27/ruby-code-coverage-using-simplecov) and [Jruby coverage bug](http://jira.codehaus.org/browse/JRUBY-6106?page=com.atlassian.jira.plugin.system.issuetabpanels:changehistory-tabpanel) links are broken.

[2016-05-25 17:32] danmayer commented on #62
blah..... OK I will look for a newer simplcov walk through to replace that... The coverage bug I will just remove as it is likely out of date, sad it was a great explanation of what was happening.

[2016-06-15 19:09] oboxodo commented on #54
I would prefer to just send you a PR with MemCached support baked in, but can't take the time to work on that at the moment. I still wanted to mention MemCached here in case someone else has the time and will to do so :)

[2016-08-11 17:24] TheRusskiy opened #67 "Broken compatibility with coverband_ext"
As I am sure you are aware coverband_ext is a useful addition to this gem which speeds up sampling https://github.com/danmayer/coverband_ext
They use method which was recently deleted from your codebase as no longer used
They use it here:
https://github.com/danmayer/coverband_ext/blob/master/ext/coverband_ext/coverband_ext.c#L49
It was deleted in this commit:
https://github.com/danmayer/coverband/

[2016-08-11 18:04] danmayer commented on #67
Actually I will update the readme on coverband_ext... unless you are on a very old version of Ruby we no longer recommend coverband_ext. recent versions of Ruby made similar performance achievable without requiring dropping into C extensions.

[2016-08-11 21:42] TheRusskiy commented on #67
ok, gonna close this issue then! Thank you!

[2016-08-11 21:42] #67 closed

[2016-08-13 14:36] danmayer commented on #67
thanks updated coverband_ext readme https://github.com/danmayer/coverband_ext

[2016-09-29 21:53] treble37 opened #68 "Latest gem code not uploaded: undefined method `s3_bucket' for #<Coverband::Configuration...>"
If I have `gem 'coverband', '~> 1.1'`, in my Rails 4.2.7 Gemfile, and I try to set up s3_bucket as follows:

[code]

I get undefined method `s3_bucket' for #Coverband::Configuration...

If I use a forked copy of the master branch of this gem, then the s3_bucket method exists.  Has the latest copy of master been pushed up to rubygems?

[2016-11-12 23:34] danmayer commented on #62
thanks updated

[2016-11-12 23:34] #62 closed

[2016-11-12 23:36] danmayer commented on #61
sorry I never responded to this, but more information is needed to investigate... best thing to do is checkout the example apps and make sure everything is setup correctly

https://github.com/danmayer/coverband#example-apps

[2016-11-12 23:36] #61 closed

[2016-11-12 23:37] #58 closed

[2016-11-12 23:38] danmayer commented on #57
various docs are updated, will be making another pass to make this more clear

[2016-11-12 23:38] #57 closed

[2016-11-12 23:40] danmayer commented on #23
I will be looking at some improvements to coverband in the next while. I think supporting this outside of dev debug mode could be cool. I will look at that.

[2016-11-12 23:45] danmayer commented on #68
yeah sorry I had merged those changes and wanted to run it for awhile before I released the gem and then forgot to ever release. I have pulled in some other changes, cleaned up docs, and bumped the version. Everything should be in sync now. with 1.2 released.

[2016-11-12 23:45] #68 closed

[2016-11-17 17:23] alkuzad opened #71 "What coverage_baseline is supposed to do ?"
Readme mentions that it has something to do with initialization of app but it does not help. Why it is json and it's loaded on startup ?

[2016-11-19 21:57] danmayer commented on #71
It is recording code usage, during app startup. If you don't do this you never run method definitions and other lines that are interpreted at app boot. It is recorded in JSON as you only need to do it once per code version.... Opposed to the runtime code analysis, this has confused some folks so it might be good to store it to the same data store through the adapter as anything else. That could be

[2016-11-21 09:14] alkuzad commented on #71
@danmayer thanks, now I think I've got it. I think this is just bad naming as "baseline" is not as clear as "initialization.

Initialization code is often not something we can have impact on but it's definitely worth to have coverage for it.

[2016-11-21 18:12] danmayer commented on #71
gotcha, yeah not the best naming, I will try to improve the readme a bit.

[2016-12-04 15:52] danmayer commented on #23
this was resolved by @guigs I had previously avoided this mostly due to performance concerns but he added support while also making coverband faster ;)

[2016-12-05 11:11] guigs commented on #23
We still need to store line counts in redis https://github.com/danmayer/coverband/pull/75#issuecomment-264827096

[2016-12-23 08:50] mlovic opened #77 "Not working on Puma multithreaded server with startup_delay turned on"
I've been trying to use coverband on a Rails application running on the Puma webserver using the example configuration, but coverage was always disabled.

After digging around for a while I noticed that `Coverband::Base` holds a `@delay` instance variable which gets decreased on each request until it hits zero, at which point coverage is enabled. Puma, however spawns a new thread for each request,

[2016-12-23 17:26] danmayer commented on #77
hmm good find, haven't seen that. I am running most projects on puma and should be able to fix this... I will take a look this week.  Yeah `startup_delay 0` should work fine may have a slight performance hit to your first couple requests... probably not if you are using `preload_app` actually.

[2016-12-26 18:25] danmayer commented on #71
updated readme, closing this

[2016-12-26 18:25] #71 closed

[2016-12-26 19:30] danmayer commented on #77
Could you send over a bit more information @mlovic so I could reproduce... I setup Coverband on a small test app... Made sure it worked and then boot my server using `puma` and it still worked

https://github.com/danmayer/travel_calculator/commit/ab730765dd9c9d37505cd23673ba8eb1d84d936a

guessing default puma might not trigger the issue because of `Puma starting in single mode...` which seems to b

[2016-12-26 19:35] danmayer commented on #77
hmmmm ok added some configs @mlovic and now booting puma in cluster mode and coverband still works with startup_delay of 2.

`[69764] Puma starting in cluster mode...`

my `config/puma.rb`

[code]

my `config.ru`

[code]

If you are by chance running Coverband via a Rails initializer perhaps send me the code where you set it up, and I could take a look... guessing either initializer vs `config.ru`

[2016-12-26 20:26] mlovic commented on #77
Hi @danmayer. Thanks for the response!

Sure, here's some of my configuration:

config.ru

[code]

config/puma.rb (started in cluster mode)

[code]

config/coverband.rb

[code]

config/application.rb

[code]

config/initializers/coverband_middleware.rb

[code]

I also added some logging to the Coverband source while testing the other day:

[code]

  On every request the thread was different, even

[2016-12-26 20:53] danmayer commented on #77
Awesome thanks I will set my app up like that and see if I can get it to reproduce... it makes sense to me that this error could occur, but so far no luck triggering it.... headed out for now so I will check it later

[2016-12-27 00:26] danmayer commented on #77
hmm so weird... I still have no issue after making my puma.rb the same as yours and moving to an initializer...

ahh ok added your logging and looks like I have reproduced... but I hit the count per thread pretty quickly in my example app as it is even triggered for assets in my dev setup. Below shows 3 different threads for 3 requests...

[code]

Thanks OK, now with a repro let me look at best wa

[2016-12-27 15:04] mlovic commented on #77
That makes sense. I've only been using the application's API (should have thought to mention it), so no assets. I just tried an HTML route and I'm seeing the same thing.

[code]

All asset requests are fulfilled by the same thread, and the startup delay decreases with each one. Then for the next request/transaction, a different thread is used, and startup delay is reset to the original 3:

[code]

[2016-12-27 16:01] danmayer commented on #77
OK cool after looking a bit more I think this makes sense as intended behavior so I just updated the readme to try to make the case for threaded servers and how they react to the startup delay more clear. Thanks for the report and this thread will also help anyone searching for the issue.

[2016-12-27 16:01] #77 closed

[2016-12-27 17:01] danmayer commented on #44
took your change and added that in... @kbaum also added some test coverage for the scov style reports @dnasseri

https://github.com/danmayer/coverband/pull/78

will be released as 1.3.1

[2016-12-27 17:01] #44 closed

[2016-12-28 18:56] danmayer commented on #16
I will be working abstracting this out to allow file, redis, or memory adapters as part of this PR

https://github.com/danmayer/coverband/pull/79

[2016-12-28 18:58] danmayer commented on #23
@guigs you can see first working version, but I need to do some serious cleanup which I outlines in my on hold PR https://github.com/danmayer/coverband/pull/79

[2017-01-02 23:06] danmayer commented on #59
While this never effected me or my setup, I have addressed this in the large update I am working on...

https://github.com/danmayer/coverband/pull/79

[2017-01-02 23:06] #59 closed

[2017-01-02 23:08] danmayer commented on #54
The store class is completely abstracted out now in this upcoming PR, and has added file store. While I haven't added memcache yet it should be pretty simple to do so and I might follow up with that if no one else get to it first.

https://github.com/danmayer/coverband/pull/79

[2017-01-02 23:08] #54 closed

[2017-01-03 02:09] danmayer commented on #16
ok baselines can no be recorded in any adapter as part of the PR

https://github.com/danmayer/coverband/pull/79

[2017-01-03 02:09] #16 closed

[2017-01-04 19:37] josh-m-sharpe opened #80 "how to ignore app/assets in rails app?"
Hey dude!

I noticed that this config doesn't ignore app/assets

config.root_paths = ['/app/']
config.ignore        = ['vendor', 'spec', 'test', 'app/assets']

I dug in a bit and commenting this line out "fixes" that: https://github.com/danmayer/coverband/blob/master/lib/coverband/reporter.rb#L150

I would've thought the baseline process sets the files that get tracked, no?  Do you see any immedia

[2017-01-04 19:40] josh-m-sharpe commented on #80
I ran tests w/o it - they pass.

[2017-01-04 19:49] josh-m-sharpe commented on #80
Actually, pretty sure this is useful for most files.  The problem I'm seeing is that it's matching *js.erb and *scss.erb files and making those show up.

I suppose that's not really a big deal.  If you know another way to hide those, that'd be great, otherwise can probably just close this thing out.

[2017-01-04 20:09] danmayer commented on #80
ha I actually ran into this a couple days ago, and fixed it basically we added that line to show files that were never touched in coverband, but failed to realize it didn't respect the users filter.

This has actually been fixed as part of a fairly large refactoring / adding additional features: https://github.com/danmayer/coverband/pull/79

I am about to put this in a RC release and put it on an

[2017-01-05 02:51] danmayer commented on #80
resolved in merged PR, closing!

[2017-01-05 02:51] #80 closed

[2017-01-05 02:52] danmayer commented on #23
Alright this is live as 1.5.0 closing this out!

[2017-01-05 02:52] #23 closed

[2017-01-05 02:52] danmayer commented on #50
I will look at this for 2.0 and it should be doable...

[2017-01-05 04:39] ryanclark2 commented on #50
Awesome, thanks!

On Jan 4, 2017 6:52 PM, "Dan Mayer" <notifications@github.com> wrote:

[2017-01-05 19:32] kevinjalbert opened #81 "Coverband reseting on every request in RAILS_ENV=development"
I understand that rails is restarting the application on each request (so changes can be loaded) -- https://github.com/rails/rails/blob/92703a9ea5d8b96f30e0b706b801c9185ef14f0e/railties/lib/rails/generators/rails/app/templates/config/environments/development.rb.tt#L4-L6.

My solution to trying coverband out in a development environment is to set the `startup_delay` to 0. Otherwise it never decreme

[2017-01-06 16:04] danmayer commented on #81
this is in the readme ;) I actually recently added it as someone else hit this issue... basically it does decrement and will still work with startup delay but it becomes much slower as it will count down per  thread.

https://github.com/danmayer/coverband#1-create-coverband-config-file

see the comments above the `startup_delay` line and they mention that with puma and others you probably want to

[2017-01-06 16:33] kevinjalbert commented on #81
I'm currently using WEBrick and it still doesn't do the decrements (if I `puts` the `@startup_delay` it stays the same).

Like you said by setting it to 0 everything works as expected.

It probably wouldn't hurt to explicitly mention to set it to 0 in `development`. Or to have that as a condition in example config file. I would imaging everyones first step it so try this out in a development envir

[2017-01-06 17:11] danmayer commented on #81
hmm that is odd WEBBrick definitely works for me with no changes in dev it just ignores the 2 requests and moves on... could you tell me more about your stack? Version of Rails, did you configure via initializer or `config.ru`, any other details that might help me to track down.

[2017-01-06 17:11] danmayer commented on #81
yeah I could make dev not have a startup delay, which makes sense since the perf difference is so low these days... but I want to make sure it doesn't end up never starting to track for folks in production ;)

[2017-01-06 19:34] kevinjalbert commented on #81
So I tried out some stuff here and I identified my problem.

I end up using https://github.com/kevinjalbert/port_map to help do port mapping of my local web servers so I can have them mapped to reasonable domains. If I don't use this everything works as expected.

I didn't realize that simply port mapping (via nginx's `proxy_pass`) the rails server to nginx would cause the `#reset_instance` to be

[2017-01-07 18:27] danmayer commented on #81
odd about that having an impact but I guess other things like xip.io, pow, and the like try to restart things a bit differently... So I guess the port_map issue makes sense.  I updated defaults / documentation. closing this out.

[2017-01-07 18:27] #81 closed

[2017-01-07 18:38] kevinjalbert commented on #81
Yep I'm a little confused on why it handles restarting like that, but good to know.

I agree that closing this issue out and possibly adding something in the documentation mentioning said services and tools that could cause issues due to how they handle server restarts between requests.

👍 Thanks for the quick responses.

[2017-02-22 21:09] jagthedrummer opened #83 "Coverage report is generated twice with different results"
I've followed all of the README instructions for installing and configuring coverband and when I run `rake coverband:coverage` I'm seeing some weird stuff in the coverage report.

What happens is that a browser window will open that shows some amount of coverage, but if I hit refresh, the coverage drops to 0%.

In the terminal where I run the rake task I can see that two reports are being generate

[2017-02-28 05:48] ankuriitk opened #84 "rake coverband:coverage gives error"
rake aborted!
NoMethodError: undefined method `track_files' for SimpleCov:Module
/Users/ankur/.rvm/gems/ruby-2.2.2/gems/coverband-1.5.0/lib/coverband/reporters/simple_cov_report.rb:22:in `report'
/Users/ankur/.rvm/gems/ruby-2.2.2/gems/coverband-1.5.0/lib/coverband/tasks.rb:50:in `block (2 levels) in <top (required)>'
/Users/ankur/.rvm/gems/ruby-2.2.2/gems/rake-11.2.2/exe/rake:27:in `<top (required

[2017-03-02 04:00] ankuriitk commented on #84
@danmayer : can you please help?

[2017-03-14 11:23] igniting commented on #84
You need a simplecov version >= 0.11.0 (https://github.com/colszowka/simplecov/blob/master/CHANGELOG.md#0110-2015-11-29-changes).

[2017-03-18 20:27] danmayer commented on #83
hmm odd could you share a bit more details of your setup? You are using the redis adapter or something else? Any other details you could provide would be helpful (ruby version, rails version, etc)

Sorry for the delayed response and handling this issue, we just had [our first baby](https://millermayersadventures.com/2017/02/23/theodore-harley-mayer/) so I am a bit slow to do any open source work.

[2017-03-18 20:29] danmayer commented on #84
Sorry for the delayed response and handling this issue, we just had [our first baby](https://millermayersadventures.com/2017/02/23/theodore-harley-mayer/) so I am a bit slow to do any open source work. I will likely still take a bit of time to get to the bottom of the issue.

but I believe @igniting has the correct response... I will update the gem requires to check for that version... previously

[2017-04-11 03:00] danmayer commented on #83
any other details @jagthedrummer to help me debug?

[2017-04-11 03:13] danmayer commented on #84
I updated the gemspec to require this version... this is fixed in 1.5.1 thanks

[2017-04-11 03:13] #84 closed

[2017-04-11 14:44] jacebrowning commented on #83
I am seeing the same issue with the Redis adapters, Ruby 2.2.5p319, and Rails 4.2.7.

[2017-04-16 19:37] jagthedrummer commented on #83
@danmayer, sorry for the delay responding. I was using the redis adapter, Ruby 2.2.5p319, and Rails 4.2.5.

[2017-04-26 16:27] autobrain-stanley opened #86 "Having trouble generating a report on production..."
We are running rails on AWS, and using redis.
Also have a customized baseline that observes the `config.ignore` setting.
So I have everything working on my localhost, and can execute `clear`, `custom_baseline`, and `coverage` operations generating the expected results.
Yesterday we pushed this to production, but I can't seem to be able to pull coverage from production. On my localhost I have hard

[2017-04-26 16:35] autobrain-stanley commented on #86
The only thing that comes to mind is the differences between my localhost (OSX) and the AWS (Ubuntu) environments effecting the `config.root` as it is currently set to `Dir.pwd`

[2017-04-26 16:54] autobrain-stanley commented on #86
If I try to set my localhost `config.root` to the AWS dir `/home/ubuntu/web-app/` then it tries to write the coverage report to that directory on my mac where that dir doesn't exist. Given the special rules around creating directories in home I'm not really keen on trying to create one just to test if matching local and prod paths would help the issue.

[2017-04-26 17:18] autobrain-stanley commented on #86
Upon further inspection `coverage` operation is reporting all files as "not found in project" and listing their server directories.

[2017-04-26 19:02] autobrain-stanley commented on #86
So it seems the problem is indeed caused by my local file system not matching the production server file system. How do I avoid this?

[2017-04-27 03:57] danmayer commented on #86
Did you see / set `config.root_paths` this takes an array so you could have the root path of multiple systems... put in both the production expected root path and your local expected root path. I think that should resolve the issue.

`config.root_paths        = ['/app/'] # /app/ is needed for heroku deployments`

[2017-04-27 13:29] danmayer commented on #86
oops should have tagged you hope this resolves the issue  @autobrain-stanley

[2017-04-27 16:32] autobrain-stanley commented on #86
@danmayer Thanks a ton. Worked like a charm. Feel dumb now... But perhaps it might help to have some more documentation on the `root_paths`.  Or just on the config values in general...

[2017-04-27 16:32] #86 closed

[2017-04-27 16:55] danmayer commented on #86
yep no worries does seem like an opportunity for me to improve the docs. Thanks for creating a issue and following up.

[2017-05-09 12:58] juanibiapina commented on #83
I also see the same issue.

[2017-05-09 13:18] juanibiapina commented on #83
I deleted `.simplecov` file from production and it started working correctly.

[2017-05-15 12:44] jkypet opened #87 "Web request fails when coverband cannot access Redis"
I'm using Coverband::Middleware with Redis. Our app is hosted on Heroku. I used smaller Redis instance and when we had bigger traffic we got `Redis::CommandError - ERR max number of clients reached` - this exception caused that the web request has failed. It was thrown by calling `Coverband::Base.instance.report_coverage` at `vendor/bundle/ruby/2.3.0/gems/coverband-1.5.1/lib/coverband/middleware.r

[2017-05-17 09:38] danmayer commented on #87
What was your sample rate set to? For high traffic sites you probably don't want a sample rate of 100%, so try turning that down to start at a much lower value....

Other than that do you know what the max number of clients is set to for your redis host? In general you will have a Redis connection per each process for your webapp server. I could look a bit more at how I am or am not using redis po

[2017-05-17 10:01] jkypet commented on #87
We set the sample rate just to 5%. The limit for the clients is now 40 (bigger Redis plans are quite expensive on Heorku). We don't want to use our main Redis so we are using separate Redis instance. We have a LOT of background workers and yes it's possible that the processes can exceed the client count limit. But sadly this could happen anytime with even bigger plans.

[2017-06-26 19:09] jacebrowning commented on #83
@juanibiapina's solution worked for me:

[code]

[2017-06-29 16:02] jagthedrummer opened #88 "Incorrectly reporting 100% coverage"
We're running into an issue where coverband reports data incorrectly. Here's a screenshot that illustrates the problem.

<img width="1353" alt="screen shot 2017-06-29 at 10 36 31 am" src="https://user-images.githubusercontent.com/58702/27697383-af77ffd4-5cb9-11e7-9317-c3ae1827af3c.png">

Coverband says that the class is 100% covered, but I _know_ that I didn't make enough calls to exercise the ent

[2017-07-07 20:41] stephenprater opened #89 "`rake coverbands:baseline` dropped production database."
First:  Let me be clear - this is not actually the gems fault.  The gem has a relatively minor security "flaw" which resulted in an outsize result in our environment because of poor practices / bad luck on _our_ end.

In the `baseline` task, Coverband loads (and because it's Ruby, executes) every `.rb` file under both `/lib` and `/app` - including potentially destructive scripts that are not loade

[2017-07-10 21:07] latazzajones commented on #89
We've just been debugging a very similar issue - fortunately we caught ours in development. BUT! This seems like something that should be rectified or documented. In our case, we have an engine in our lib file with a dummy app and that schema is run by coverband.

A blacklist seems like a good approach to this issue but this is also super dangerous behavior.

[2017-07-16 20:48] danmayer commented on #89
WOW, prod DB drop that is terrible. So sorry about that... I am a bit confused what has changed to have two folks hit this recently, as I have never had a report like this in the 4 years the project has been in use.

I will need to ponder a bit... Some quick thoughts:

* I run baseline on dev machine and not on production, I just send it to the same source as when I report from production
    * If

[2017-07-16 20:52] danmayer commented on #88
odd it looks like it is considering those lines as comments / non active lines like whitespace. I will have to take a closer look to see what is going on. Thanks for the report, guessing it is related to the gem coverage, I will see if I can recreate.. Do you know of any opensource gem that might be close to the internal gem you use... to help me recreate @jagthedrummer

[2017-07-16 21:06] danmayer commented on #89
I confirmed that `require './db/schema.rb'` on standard rails app would do this... since the schema is by default not in app or lib I haven't ever seen this or heard about it being an issue... make sense a bit more related to engines (although engines should still create folders and files in db folder).

Thinking I will add `schema.rb` to default exclude list and merge the PR from @latazzajones as

[2017-07-16 21:41] danmayer commented on #89
ok @stephenprater coverband 1.5.2 was released with the PR from @latazzajones as well as this commit ( https://github.com/danmayer/coverband/commit/bf34b3b22dcf0c538d42982c3cf1eeaac388cd7f ) which will by default ignore any `schema.rb` files.

I still think looking at your PR and other ways to avoid this ever happening to anyone else would be good... let me know thoughts on other steps. Also, so s

[2017-07-17 15:54] jagthedrummer commented on #88
@danmayer I don't know of any open source gems that would be close to what we're doing. I'm not sure if any gem that provides a controller would do it, or if there's something else peculiar about our gem.

[2017-07-23 15:06] danmayer commented on #83
interesting can either of you share the settings you had in your `.simplecov` file? guessing it had some ignores in place causing it to ignore everything.

[2017-07-23 15:46] danmayer commented on #88
OK I will see if I can figure out why this would happen..... not sure I will be able to debug without a way to reproduce.

[2017-07-23 20:37] jacebrowning commented on #83
The contents of my `.simplecov`:
[code]

[2017-07-24 18:26] jagthedrummer commented on #88
@danmayer I've created a sample repo that demonstrates this problem.

https://github.com/jagthedrummer/coverband-internal-gem-demo

The project contains a directory called `interal_full_mountable_gem` that provides a controller and some routes for the main app. (I misspelled 'internal' and didn't catch it until I was all done. Oops.)

The internal gem is loaded by this line in `Gemfile`:

[code]

[2017-07-27 16:48] jagthedrummer commented on #88
Trying to investigate this some more, and just making notes here.

I removed `tmp/coverband_coverage.json` and then ran `rake coverband:baseline`, that produced this `coverband_coverage.json` file:

[code]

None of the files in the internal gem are included in the baseline.

I immediately ran `rake coverband:coverage` (without staring the server or hitting any code paths). `coverband_coverage.json

[2017-07-30 20:57] danmayer commented on #89
OK closing this out based on the PR and discussion here

https://github.com/danmayer/coverband/pull/90

and added warnings to readme: d1218aa

[2017-07-30 20:57] #89 closed

[2017-07-30 21:05] danmayer commented on #88
great investigation this is on the correct path... seems like without the baseline it thinks those lines never should be executed... then when they actually are executed they end up having a few lines turn green and therefor count as 100% executed. All lines in the file that weren't executed are considered to have no expectation to be run because of the missing baseline.

[2017-07-30 22:20] danmayer commented on #88
OK so I have a solution for you, but I don't have a more general solution... Basically, I think this will always remain a bit of an edge case... If it is more common than I think I could try to examine all engines in a Rails app iterate through them and then load their files... but it could add a bunch of stuff that many folks don't want to track and wouldn't consider standard application code.
<i

[2017-07-30 22:38] danmayer commented on #88
Also, if you have non-code ideas on how this could be more clear in the Readme or for this case let me know... It was non-obvious to me as well that it wouldn't just work automatically.... My best thought would be I could flag any file that shows up in live data but isn't on the baseline and give a warning that the baseline isn't properly loading all the code you execute at runtime.

[2017-07-31 14:53] jagthedrummer commented on #88
@danmayer Thanks for the assist here. I'm going to try your custom Rake task and see how it goes in our real project.

I think ideally it would be awesome if the default Coverband Rake task and config were able to handle additional files in an ad hoc manner. It would be great if I could just add a line to the config to tell it about extra files that should be included in the baseline and have the

[2017-08-05 16:11] danmayer commented on #88
ok cool @jagthedrummer take a look at this PR leet me know if you think this matches your expectations. If it does I can merge and release. https://github.com/danmayer/coverband/pull/92

[2017-08-05 16:21] jagthedrummer commented on #88
That looks great, @danmayer! Also, your suggestion for the custom baseline task worked perfectly in our project, so I have high confidence that this will do the trick. Thanks for everything!

[2017-08-05 16:29] danmayer commented on #88
cool closing this out 1.5.3 was released with the new feature. Thanks!

[2017-08-05 16:29] #88 closed

[2017-09-14 11:11] jumski opened #93 "Coverband does not swallow JSON.parse errors"
I do not have a root cause why it cannot parse json (probably uploaded some invalid baseline to our staging server), but it does not swallow `JSON.parse` errors, throwing:

```JSON::ParserError: 784: unexpected token at ':22,"20":22,"24":22}}'```

The error is not catched by coverband and makes webserver fail with 500 error.
It should probably be swallowed and reported in coverband log.

[2017-09-18 12:42] eterps opened #94 "Can the percentage be changed at runtime?"
Can the percentage be changed at runtime? If so, how?

If it can't be changed at runtime, can coverband be disabled/enabled at runtime?

[2017-09-19 08:45] eterps commented on #94
Ah I see that disabling/enabling coverband can be done with:

[code]

I will check if that can be used to change the percentage as well.

[2017-10-03 03:08] danmayer commented on #94
so the settings aren't stored in something like redis and can't be easily changed across many servers at once. You can change them by updating the configuration via code

[code]

but if you have multiple servers you would have to propagate that somehow. I have considered making all the configs read from the data store so you could remotely reconfigure coverband, but it hasn't been worth the effort

[2017-10-03 03:08] #94 closed

[2017-10-03 03:08] danmayer commented on #94
^^ @eterps let me know if you need anything else

[2017-10-03 03:10] danmayer commented on #93
hmm this might be related to upgrading from a previous version of coverband and the format changed... if you have more of a stacktrace, I can likely improve the handling and log how to resolve the issue. @jumski do you have a stacktrace or any other details.

[2017-10-03 07:52] eterps commented on #94
Thanks @danmayer , having configs read from the data store would be nice indeed, but this will do.

[2017-10-03 10:45] jumski commented on #93
this was a fresh install of coverband
i'll try to recover the stack trace so you can investigate,

but don't you think @danmayer that it should swallow all exceptions (maybe report them somewhere if possible) so it never causes 500 on production?

[2017-10-12 20:25] viktor-silakov opened #96 "Use SimpleCov profile"
Hi! How can i use simplecov profile to generate html reports, groups, filters, and so on? For example:

[code]

[2017-10-13 19:46] #96 closed

[2017-10-14 16:13] danmayer commented on #96
Sorry I didn't get back to you... I see you closed this, but if you still have questions let me know. I tend to end up responding to most Github stuff on the weekends so it takes me a bit to get back to people. Basically, I think you are looking for regular test coverage, which isn't what coverband is about look as the simplecov project and perhaps a tutorial.... If you are trying to add grouping

[2017-10-14 16:23] danmayer commented on #93
Yeah that is a good point, we shouldn't cause any production errors... I can definitely swallow and log, which is what was happening previously so I must have missed something when moving to adapter stores. I can look into it but if you can get me a stack trace that would definitely help @jumski

[2017-10-15 17:45] viktor-silakov commented on #96
I use coverband for cucmber UI tests in rails production environment,  pure simplecov (and other) is not convinient for me. And i found a solution for grouping -  i add my own rake task and insert to it:
[code]

And this work fine.

[2017-10-15 20:52] danmayer commented on #96
awesome that is a cool use case for coverband! Glad you figured it all out and thanks for sharing the solution in case it helps anyone else, awesome to see folks getting good usage of this out in the world.

[2017-10-17 12:58] jumski commented on #93
I am unable to get to that stack trace at this point :( too much digging in teh aws console, sorry man

[2017-10-18 00:27] kbaum opened #97 "Running baseline in production"
The coverband README warns against running `rake coverband:baseline` in production. I would like to schedule something like this to run every couple of weeks:

[code]
Whats the danger of running `coverband:baseline` in production?

[2017-10-18 13:24] danmayer commented on #97
So basically it comes back to this ticket, where the folks had a checked in file that when loaded would wipe the DB.... o_0

https://github.com/danmayer/coverband/issues/89

Coverband baseline tries to load all files we added some features to prevent that, but basically, you can run the baseline in dev mode (or in a staging environment) or whatever else to get the same results and then still merge

[2017-10-18 13:24] danmayer commented on #97
let me know if that helps or if I should try to make it more clear in the readme

[2018-02-21 12:33] nocivus commented on #83
config was the culprit :)

[2018-03-05 23:46] ThomasOwens opened #99 "Unable to start coverband from outside the Rails project directory"
I noticed a few things, all in lib/coverband.rb.

First, CONFIG_FILE is hard coded to a relative path. This is all well and good until you try to invoke a Rails application from outside Rails.root. From what I can tell, Coverband is looking for the CONFIG_FILE relative to the location where you run your script. Although I can set my working directory before starting the application, this doesn't s

[2018-03-05 23:49] ThomasOwens commented on #99
I've opened one possible solution as a PR: https://github.com/danmayer/coverband/pull/100

[2018-03-31 07:38] lacco commented on #93
I was trying out coverband on our staging server, but after a couple of hours, requests and sidekiq jobs started to fail with `JSON::ParserError: unexpected hash close at line 1, column 215732 [parse.c:558]`. Not sure how this is happening, but somehow the JSON file becomes invalid. Might there be a problem when two processes try to write to the file at the same time? When I deleted the file, ever

[2018-03-31 07:49] lacco commented on #97
Just to clarify my understanding about the baseline: Although the README states that you should not run the rake task on production, we need to have a way to record the baseline.

Running `RAILS_ENV=development rake coverband:baseline` is no option for me because this environment is not set up there. Running `rake coverband:baseline` locally and just passing the production redis options is also no

[2018-03-31 15:58] danmayer commented on #97
yes, this is confusing for now especially with the baseline now also stored in Redis it used to be much easier to merge a dev coverage baseline and production coverage data. Long as you don't have any dangerous files it should be safe to run. The next version of Coverband that I am working on will no longer require a baseline at all which should simply all of these issues. It will still take me aw

[2018-04-03 00:32] danmayer commented on #93
hmm interesting @lacco could you share more of your `coverband` config. I am working on a larger branch with major changes and I can try to make sure to cover this issue

[2018-04-07 17:39] danmayer commented on #93
ok great to hear, the file-based tracker wasn't really intended for production, I will try to make things like this more obvious and less error prone in the next release.

[2018-06-08 09:22] zealot128 opened #101 "(Maybe) issue in combination with Bootsnap"
I was just trying to include Coverband in our app but was wondering why the output shows always empty files and no coverage was detected.

coverband file usage: []

After printing out the files in the TracePoint callback, I saw, that no app files got passed along but some suspicious files with a bootsnap prefix.
I removed bootsnap setup from our config/boot.rb and tried again and all files would b

[2018-06-08 09:22] #101 closed

[2018-07-22 12:43] ndbroadbent commented on #97
Reading through [the rake task code](https://github.com/danmayer/coverband/blob/master/lib/coverband/tasks.rb#L20), I can see why that would happen, since it was requiring `/app/**/*.rb` and `./lib/**/*.rb`.

I overrode the rake task in my app and replaced those lines with `Rails.application.eager_load!`. That seems to be working quite well for me. There are some files in `app` and `lib` that were

[2018-07-22 13:11] ndbroadbent opened #106 "Coverband to measure Rake tasks?"
I've got it working for my Rails app, and also for background jobs with a Sidekiq middleware. But for cron jobs that run a Rake task, I'm thinking about how I can wrap those with Coverband.

I have this in my `lib/tasks/coverband.rake`:

[code]

This code wraps all Rake tasks with Coverband start/stop/save. Seems to work ok but not sure if that's the best way

[2018-07-22 20:47] danmayer commented on #99
excellent, I will address this and help get that merged in after I get the long in progress Coverband 2.0 PR released. Thanks so much for the interest and support.

https://github.com/danmayer/coverband/pull/107

[2018-07-22 20:48] danmayer commented on #93
This was resolved in the 2.0 branch... and can't occur any more even due to config issues...
https://github.com/danmayer/coverband/pull/107

closing this out.

[2018-07-22 20:48] #93 closed

[2018-07-22 20:49] danmayer commented on #93
@lacco / @jumski I would highly recommend taking a look at the 2.0 release if you were still looking at working with Coverband it has resolved a large number of issues.

[2018-07-22 20:51] danmayer commented on #87
I believe this is better resolved with the Coverband 2.0 branch which is more less likely to cause any production issues.  It will be merged shortly.

https://github.com/danmayer/coverband/pull/107

I am going to close this out @jkypet but let me know if you look at using Coverband 2.0 and have any other issues. The new functionality allows you to send data on a frequency vs sampling, which means

[2018-07-22 20:51] #87 closed

[2018-07-22 20:57] danmayer commented on #97
PR for Coverband 2.0! Alpha release running on prod for last 2 months. Let me know if there is any last minute feedback, if not I will release later tonight ;) Also, sharing thoughts Future 3.0 roadmap.

https://github.com/danmayer/coverband/pull/107

As part of the quick move to 3.0 I believe I can just entirely remove the concept of baseline as it is tricky and can require running code on dev an

[2018-07-22 20:59] danmayer commented on #106
Thanks, I can perhaps add this to a readme or an optional file to load... Alternatively... we run our cron jobs with the Rails runner... so I did this which makes the rails runner collect and report all Coverband data (note this is for the 2.0 release not sure it would work for the prior release)

[code]

[2018-07-28 14:20] danmayer commented on #99
resolved closing this out

[2018-07-28 14:20] #99 closed

[2018-08-05 20:09] danmayer commented on #21
OK, so I am going to close this one out with some notes...

* You can record gems on the old tracepoint by setting `Coverband.configuration.include_gems` this will not filter them out. After that you need to make sure you have them loaded and covered by your watch patterns and not ignored by your ignore patterns. So by default, it should be very easy to get this with the TracePoint collector
* The

[2018-08-05 20:09] #21 closed

[2018-08-05 20:24] danmayer commented on #50
OK added some documentation on the various internal paths use by Coverband to the Readme

https://github.com/danmayer/coverband#internal-formats

We actually are storing all the paths as relative in Redis (definitely in 2.0 and I believe in the past). I believe if you were seeing duplicate files based on the deployed file location changing the `config.root` or `config.root_paths` would be the corr

[2018-08-05 20:24] #50 closed

[2018-08-05 20:42] danmayer commented on #83
Added documentation about `rake coverband:coverage_no_filters`

Which should avoid this issue, sorry this feature and this bug have been hit and seen before but it wasn't ever clearly documented.

https://github.com/danmayer/coverband/commit/bd3b2cdc5e3c8357d36826d7af918d8397a5151c

[2018-08-05 20:42] #83 closed

[2018-08-06 17:54] ryanclark2 commented on #50
Hey Dan,

Thanks for following up on this. I've moved on from the project I was on when I opened this, but will add Coverband to our current app and see how things go. If anything comes up, I'll reach out.

[2018-08-07 01:55] danmayer commented on #50
Awesome sounds good @ryanclark2 hopefully with improved docs and more recent rails examples it is easy to get up and going without issues.

The readme should be good, but if you are looking into any issues, I am working on building out a Heroku deployable demo site the initial configuration might be helpful. Currently, have only been running it on localhost.

https://github.com/danmayer/coverband_

[2018-08-22 13:44] danmayer commented on #97
on the master branch all the baseline code has been removed. I will be doing additional testing but that should go out in 2.0.2 although give folks might have automated tasks that call baseline perhaps I should bump to 2.1.0

[2018-08-23 18:09] viktor-silakov opened #113 "Heredoc not covered"
See screnshot
![heredoc](https://user-images.githubusercontent.com/23633060/44543606-ae4aee00-a718-11e8-81e8-d56a896194f9.png)

[2018-08-23 18:20] #113 closed

[2018-09-05 02:38] danmayer commented on #97
The baseline feature is removed in the `2.0.2.alpha` release, in testing now... closing this out

[2018-09-05 02:38] #97 closed

[2018-09-11 17:40] CharlesMcMillan opened #115 "Performance issue with Redis Adapter (2.0.1)"
At one point previously, we used 1.5.4 with success on our code base, and we wanted to reintroduce coverband with the newer version, 2.01...however we are seeing performance issues when coverband is enabled and collecting/sending data to redis... Here is a gist that demonstrates the problem (runnable in a `bundle console` session) https://gist.github.com/CharlesMcMillan/6bc239429761adc70ef738d05e8

[2018-09-13 23:05] danmayer commented on #115
hmm @CharlesMcMillan see some of my notes on the ticket https://github.com/danmayer/coverband/pull/117#event-1844761550 I am happy to merge that in and test it as I was about to release the next version of Coverband and I could try to get this in first. Take a look and let me and @kbaum know if you think that would help.

I believe it would help the issue you are having but I am also worried that

[2018-09-15 14:08] #115 closed

[2018-09-15 15:18] danmayer commented on #115
OK try again with memory store configured and using the 2.0.2 release.

You can see it in action here https://coverband-demo.herokuapp.com/
and the config enabling memory caching here https://github.com/danmayer/coverband_demo/blob/master/config/coverband.rb

[2018-09-17 12:48] kbaum opened #118 "Include checksum as part of key for each file in store"
This is more of an idea than an issue. If we include the checksum as the key for each file within the redis store, we would remove the need for the user clearing the store. For example:

[code]

This would also remove confusion around a files coverage not being accurate when the file has been changed but the store has not been cleared.

In order to avoid stale files hanging out forever within redi

[2018-09-18 02:54] danmayer commented on #118
interesting idea, we do have a ttl option but it defaults to forever... so something like 1 year as a high default would work...

I like the idea, I had been considering namespacing by deployed git hash for a while, but this in some ways is better as it doesn't impact files that weren't changed between deployments.

[2018-09-21 12:24] kbaum opened #120 "Missing aws region even when region is set in coverband settings"
Noticed that even with region set within coverband, I get an error requiring the environment variable when running the rake coverage generation.

[code]

[code]

[2018-09-24 20:41] jagthedrummer opened #121 "No more sampling?"
The release notes for 2.0.0 say:

Does this mean that coverband now runs for _all_ requests/jobs, and that the percentage doesn't apply anymore? If so, is the new collection method so fast that it's completely un-noticeable? (I know that previously we had to keep our sampling percentage _super_ low because coverand overhead was significant, and every additional percentage point that we added would

[2018-09-27 19:52] bquorning opened #122 "24 MB of gifs in released gem?"
I wonder if it is necessary (or even on purpose) that 24 MB of gifs are distributed with the lastest versions of this gem?
[code]

Proposed fix in #123.

[2018-09-28 16:06] Kallin opened #124 "Background Coverage Data Reporting"
We're trying out coverband on production, and finding that the redis calls are taking a majority of the time of some of our web requests when looking at new relic.

Digging into the redis_store, it seems that, for every file, we first get all of the existing values using `existing = redis.hgetall(key)`, then after incrementing the line counts, we use `redis.mapped_hmset(key, values)` to update red

[2018-09-28 22:21] kbaum commented on #124
I have run into the same problem. For now I am running in production using a branch that supports caching using the MemoryCacheStore.

https://github.com/danmayer/coverband/pull/119

Note that you need to enable the `config.memory_caching` attribute.

I also want to note that as of yesterday, we started writing to redis in a background thread that sits completely outside of the web request. After

[2018-10-01 21:29] Kallin commented on #124
thx @kbaum .
Opened this PR to support forking reporting: https://github.com/danmayer/coverband/pull/125

[2018-10-01 22:02] Kallin commented on #124
also added this PR for batching redis operations: https://github.com/danmayer/coverband/pull/126

[2018-10-05 15:13] #122 closed

[2018-10-06 19:28] danmayer commented on #121
Sorry for the slow response @jagthedrummer I was away on travel

yes, I don't know how to make things clear enough to folks but tracepoint did sampling the impacted performance both on the collection of coverage and when reporting it... The new `coverage` collector is ALWAYS collecting it only changes the frequency of reporting. There is no way to turn on and off the standard lib coverage and the

[2018-10-06 19:28] #121 closed

[2018-10-06 19:30] danmayer commented on #120
Odd, I will take a look, might need to do another small point release while working on coverband 3 for this.

[2018-10-06 19:34] danmayer commented on #124
What percentage are you reporting @Kallin I would check that you have a low report rate as one of the first things...

After that I think moving away from a get per file and post per file to a single get and post the full hash might be a better way to make this change, we can avoid a good amount of complexity. I believe this issue popped up because coverage lists all files in every report and prev

[2018-10-06 19:53] danmayer commented on #122
Thanks I will look at fixing up a couple things and making a 2.0.3 release that includes this

[2018-10-06 20:35] danmayer commented on #121
yep @kbaum @jagthedrummer I have a branch and am working on removing Tracepoint entirely, but am also doing a number of other refactorings. I am thinking I will probably have something ready in 2-3 weeks.

[2018-10-07 01:38] danmayer commented on #120
weird I can't figure out how this would be happening...

set on config and pulled here: https://github.com/danmayer/coverband/blob/master/lib/coverband/configuration.rb#L50

which is set as an arg and passed in here (the line referenced in your stack trace):  https://github.com/danmayer/coverband/blob/master/lib/coverband/reporters/simple_cov_report.rb#L46

which then set as options and passed in

[2018-10-07 11:44] kbaum commented on #124
Memory cache would definitely improve performance. One problem is it takes away the ability to count how many times a line was hit. Another problem is that it assumed that full coverage was being sent as opposed to doubles. The current implementation filters out file coverage that matches the previous result for that file. This mostly works (i think) but takes away line count reliability and does

[2018-10-09 02:57] danmayer commented on #124
yeah I guess for that kind of change would either need to make optional or do it as part of a major version release... I think I will just keep pushing on the 3.0 branch opposed to trying to figure out a good caching or improved redis structure.

[2018-10-09 03:04] danmayer commented on #120
hoping to fix this for the 2.0.3 release, but still can't reproduce any ideas here @kbaum or should I release 2.0.3 without it?

[2018-10-09 12:26] #120 closed, assigned to nobody

[2018-10-09 14:41] danmayer commented on #120
Cool no worries, @kbaum  then I will test the various improvements pulled into 2.0.3 and try to release tonight or tomorrow.

[2018-10-10 01:55] danmayer commented on #124
benchmarks now allow for local or remote redis...

local:
[code]

remote (against heroku redis)

[code]
This shows the redis trip as a significantly larger factor if you aren't on local redis... Now heroku app to heroku redis should be much faster than my local machine to heroku redis... but I think it still can help give a better idea of the perf wins from various redis / memory cache changes.

N

[2018-10-10 03:47] danmayer commented on #124
OK, I released Coverband version `2.0.3.alpha`... I added an AB_test benchmark against coverband demo, and ran that benchmark against it deployed on heroku... This shows significant improvement on perf. @Kallin  / @kbaum feel free to give the alpha a shot. I am going to push it to our staging and then production servers and long as everything looks good I will make the non alpha release tomorrow.

[2018-10-10 12:37] kbaum commented on #124
Interesting benchmarks. I think we would see a much bigger delta for large rails apps with thousands of files. One thought is that we should probably just remove memory cache since it might cause inaccurate data and at this point gives limited to no performance win since we have reduced the number of calls to redis.

[2018-10-10 14:38] danmayer commented on #124
OK I will remove memory cache in my 3.0 branch @kbaum. Yeah this Rails app is very small. I will update the benchmark script and move it from the demo repo to the coverband repo, and try to make it easy for anyone to run the benchmark against any coverband app. Trying to think if I could simplify the collection of data, like grabbing coverband version, the number of files in Coverage.peek_results,

[2018-10-10 14:42] Kallin commented on #124
In my local benchmarking, using a fairly large legacy rails app, I found that the memory cache was still a big improvement, even with the redis pipelining. Not sure that we would be able to run comfortably in production without it, unless one of the background threading/forking solutions was in as a replacement.

[2018-10-10 14:49] kbaum commented on #124
@Kallin - try master without memory caching as i think this change will be a big improvement:

https://github.com/danmayer/coverband/pull/127

[2018-10-10 15:27] Kallin commented on #124
@kbaum , thanks I'll give it a test

[2018-10-10 15:30] danmayer commented on #124
Yeah I think while memory caching breaks the exact line counts (which perhaps should be optional) on the 2.x branch it is a significant improvement for larger apps. That is showed by microbenchmarks, I just don't have a full benchmark against a large app that shows it. I think along with other changes in 3.0 it will not be needed at all, but I will ensure we have some solid benchmarks ensuring tha

[2018-10-11 01:05] danmayer commented on #124
OK the 2.0.3 release is live so I am going to focus back in on 3.0 and see where we end up on thread/forking reporting

[2018-10-11 03:46] danmayer commented on #124
OK wow @Kallin @kbaum

I just got the very first version of 3.0 to the point I could run it in coverband_demo and get some of the test / benchmarks working... I guess we will see how much background thread or forked process matters, just by redoing the storage mechanism for Redis to avoid the n+1 issue, the store large Redis benchmarks appear to be nearly 60X faster, that is without some of the ot

[2018-10-11 03:54] Kallin commented on #124
That's amazing and looks really promising! Could you link to the change to the redis storage that you think is responsible for such a boost? I'm curious to see it.

[2018-10-12 02:44] danmayer commented on #124
sure @Kallin the branch is here, it is still very messy and a work in progress, I wanted to prove some things out so this isn't what I would call standard or clean refactoring ;)

https://github.com/danmayer/coverband/tree/feature/coverband_3

The specific Redis change is here, but it doesn't or wouldn't work without some of the related changes to the collector and the reporting code.  The big cha

[2018-10-15 04:00] danmayer commented on #124
OK, all tests passing and full functional support on the 3.0 branch @Kallin @kbaum

https://github.com/danmayer/coverband/pull/129

A bit more cleanup and work to do, but could be getting close enough for an alpha release soon.

[2018-10-25 16:13] jagthedrummer opened #130 "Coverage only captured for lib dir in production"
With coverband 2.0.2 things are working perfectly for me locally, but in production we're only getting coverage for things in the `lib/` directory. Files in `app/` are showing up but they all show 0% coverage. We're on Heroku, and have set `config.root_paths` as suggested in the docs.

Here's our config:

[code]

Our `COVERBAND_PERCENTAGE` ENV var is set to `1`.

[code]

Does anything in our confi

[2018-10-25 16:31] jagthedrummer commented on #130
We do have a `.simplecov` file that looks like this:

[code]

But we also use a custom make task to run coverband, that moves the `.simplecov` file out of the way before generating the coverage report. The task looks like this:

[code]

[2018-10-25 16:37] jagthedrummer commented on #130
I just tried running `rake coverband:coverage_no_filters` and it is doing the same thing described in #83.

[code]

[2018-10-25 17:14] danmayer commented on #130
OK, thanks it sounds like those filters aren't the issue...

I will have to take a deeper look later tonight. If you know the commands and can connect to redis to see what all files and data ends up on redis that could help... If you don't know that I can provide a list of commands to check later. Trying to determine if we are storing the data fine but failing to report it or if we aren't even sto

[2018-10-25 17:41] jagthedrummer commented on #130
I'll dig into redis and see what I can find.

[2018-10-25 19:55] jagthedrummer commented on #130
Ok, something weird is definitely going on. After I run `rake coverband:clear` there are 0 keys in redis, which I think is expected. After letting the app run for a bit I'm seeing keys split between two different coverband prefixes, `coverband1` and `coverband2`.

There are 1,690 keys of this form:

[code]

All of those keys that I spot checked show either 1 or 0 for each line. I haven't found any

[2018-10-25 21:32] jagthedrummer commented on #130
(Happy to do more digging if there's additional info that would be helpful. Also happy to post the rest of our coverband setup if that could be contributing in any way...)

[2018-10-26 00:05] danmayer commented on #130
wow off the top of my head no idea how this would happen, but I will dig in... even the double reporting output is a little weird, but the coverband 1 and 2 keys is really bizarre.

I checked out the 2.0.2 release code and the key `coverband1` isn't there at all... The best guess I have is there is some other system connected to that redis with an older version of Coverband still on it. Which coul

[2018-10-26 12:55] kbaum commented on #130
Re: coverband1 keys. Can you try running locally in a private local redis instance and also start with an empty redis via redis.flushdb? Curious if possibly

1. The coverband1 keys are just old?
2. The coverband1 keys are coming from another app as @danmayer suggested.

[2018-10-26 15:30] jagthedrummer commented on #130
@danmayer, when I run `Coverband.configuration.store.covered_files` on prod it only shows files that start with `/app/lib`.

I don't find any instances of `BASE_KEY` in our app, and I don't believe that we've attempted to extend coverband in any way.

@kbaum, I know that the `coverband1` keys are not just old because if I run `rake coverband:clear` against production they disappear from redis. The

[2018-10-26 17:36] danmayer commented on #130
OK thanks, @jagthedrummer yeah the new clear only clears the new coverband2 namespace. If they can do a flushDB or just remove all keys under the `coverband1` namespace, that is good as a one-time cleanup. I agree it likely isn't causing the `app/lib` issue. Now that we seem more focused on that issue vs the keys let me dig into that piece a bit. I am also trying to finish up some final cleanup to

[2018-10-26 17:41] jagthedrummer commented on #130
After doing a `flushdb` the `converband1` keys are gone, for real this time, and have not returned. Sorry for the distraction on that. 😬

So, yeah, the real problem is that `app` isn't getting covered for some reason.

And possibly related (or not?) is that `rake coverband:coverage_no_filters` still generates two coverage reports with the last one reporting 0%.

[2018-10-26 18:42] danmayer commented on #130
ok @jagthedrummer can you confirm when you build the report it has all the app files but just shows all as never being hit with red lines on the simplecov report, if so I have a reproducing issue.

[2018-10-26 18:57] danmayer commented on #130
so a couple things to try...

[code]

The behavior you describe occurs when the `percentage` is set to `0.0`. So I am wondering if there is an issue with that ENV var in some way.

There is also no longer a reason on heroku to have `config.root_paths = ['/app/']` it has been `config.root_paths = []` for the herko demo, but adding that didn't have any impact.

even with `percentage = 1.0` you would

[2018-10-26 20:04] jagthedrummer commented on #130
@danmayer Yes, when I build the report (using our custom task that moves `.simplecov` out of the way) it does list all of the files that I would expect to be covered (including stuff in `app`). Any file that's not in `lib` shows all lines as red, but things in `lib` seem to be recording real coverage data.

I'll see about raising the percentage. (We have a _very_ busy app and do several hundred re

[2018-10-26 20:33] danmayer commented on #130
OK thanks, @jagthedrummer report back... I have a couple other ideas, but likely won't get a chance to test them until tomorrow.

[2018-10-26 21:10] jagthedrummer commented on #130
It'll be Monday before I have a chance to make that change on our side. (This isn't a critical enough issue for us to justify bothering anyone late on Friday or over the weekend.) Thanks for all your help, and the super quick turnaround on replies to this. You rock! 🤘

[2018-10-29 19:45] danmayer commented on #130
I wasn't able to track down anything obvious @jagthedrummer that would cause issues. I think given some of the complexity introduced in Coverband 2, it is likely better for me to spend time working on getting Coverband 3 ready. In terms of priority and timing, if I can get Coverband 3 to a state that you all could give it a shot in about a week would that work for you, and we can hope it addresses

[2018-11-03 18:48] danmayer commented on #118
updated title from "Include checksum as part of key for each file in store"

[2018-11-03 18:50] danmayer commented on #124
changed the title from "redis performance"

[2018-11-03 20:35] danmayer commented on #124
As we are about to get Coverband 3.0.0 out, we think we can possibly add this as an option in the 3.0.x line. I will look at implementing the threaded option sometime soon and review the related suggested PRs.

[2018-11-03 20:48] danmayer commented on #118
I rephrased this as I think there are a couple different things that could be helpful.

One thing was that `clearing` Coverband coverage can be confusing as people don't know or trust how long the data has been there... The most often reason for clearing is because of the coverage drift where line numbers don't match the captured data anymore.

While the checksum solution solves the drift issue, i

[2018-11-04 13:39] kbaum commented on #118
Love the idea of tying the md5 change with updating the UI to display "first seen" and "coverage last updated". Showing previous versions of a file would also be a great feature though not a must have for the first release.

Seeing coverage data over time could be useful eventually but not sure it's worth the complexity it introduces. I would imagine the size of the data stored in redis would grea

[2018-11-04 15:51] danmayer commented on #118
Agreed on avoiding complexity at first, I think MD5 and metadata but only showing the current version would be a good first version of this. Showing old versions introduces some complexity on the code viewing side of the report so that might not ever be worth adding.

[2018-11-05 16:36] jagthedrummer commented on #130
Ok, we're going to try to get Coverband 3 into production in the next couple of days. I'll let you know how it goes.

Btw, locally things are working with v3 just exactly like they did with v2. Coverage is being generated for all of the files I would expect and both variants of the `coverage` rake task produce double reports, with the second one being empty. (#83)

Will report back on our producti

[2018-11-06 21:14] jagthedrummer commented on #130
@danmayer We've been running v3 in production for a few hours now and we're still seeing no coverage captured for `app`. A bunch of stuff in `lib` does have coverage data, and a few things in `config/initializers`, but not everything, oddly. What else can I do to help troubleshoot?

Here's our config after upgrading to v3

[code]

[2018-11-07 02:28] danmayer commented on #130
hmm wow OK really sorry to hear that didn't resolve it. Let me think and look a bit more this week @jagthedrummer

[2018-11-08 22:33] jared opened #131 "AWS dependency for non-dev environments"
This may turn out to be an edge case, but I've run into an issue where I'm looking to use Coverband in a non-dev environment, and I'm encountering the following error:

[code]

This seems to stem from the fact that Coverband only specifies an aws-sdk dependency of `~> 2` in development, and does not enforce a particular aws-sdk version at runtime.  My (admittedly legacy) application is tied to aws

[2018-11-08 23:37] danmayer commented on #131
Thanks, @jared for reporting... AWS shouldn't be required or needed as a dependency unless you are using the S3 features for reporting. It isn't required by the gem as it is an optional feature. I might accidentally be loading it even if the S3 settings aren't being set, in which case I definitely need to fix that.

Coverband is expected to be run in production, I think you are using it for the ri

[2018-11-08 23:39] danmayer opened #132 "near zero config Rails integration via Railsties"
adding as an issue so we can start to connect PRs and code to it.

I guess quick question what do you think is worth tackling first Railsties or trying to sort out the MS5 coverage drift stuff @kbaum I can likely start on either one this week, but can't decide which folks would find more helpful.

[2018-11-09 00:03] kbaum commented on #132
Tough call... I would say md5 checksum is the one to start on first.

Have background reporting thread already works with coverband2. Just need a short snippet of code which kicks off a reporting thread on startup. Not sure if the same would work with coverband 3 but most likely.

[2018-11-09 00:42] jared commented on #131
Hi @danmayer , thanks for the speedy response!

This is currently in our business analysis environment, but my plan is to roll out Coverband to both QA (so we can see what their tests might be overlooking) and production (so we can see which areas our users are neglecting).

I am trying to use the S3 integration, I've added the config.s3_xxx lines to coverband.rb.  The application is already using

[2018-11-09 02:21] danmayer commented on #132
Cool sounds good, I will look at integrating the MD5 work and trying to inject the metadata on first/last recorded Coverage next.

Cool if you want to give it a shot on the background stuff @kbaum I left a stub for it here: https://github.com/danmayer/coverband/blob/master/lib/coverband/integrations/background.rb

I think basically a config option if set should just load integration and start it's

[2018-11-09 15:43] jared commented on #131
@danmayer -- thanks!  Please let me know if there's anything I can do to help.

@kbaum -- Since the s3 report writer is optional, I can understand why listing the aws-sdk gem in the gemspec as a runtime requirement isn't ideal.  Users who won't ever use the s3 feature shouldn't be required to bring in the whole aws-sdk gem as a part of Coverband.  I just happen to live in a weird middle ground whe

[2018-11-09 16:30] danmayer commented on #131
ha yeah we are just now trying to move off paperclip as well. I think I understand the issue and given it is only a few lines of code I think I can detect and support but the 1.x and 2.x AWS versions. I will let you know more after I play around with it this weekend...

[2018-11-10 22:55] kbaum opened #134 "Coverage data lost on puma and unicorn fork"
Hopefully we'll be able to address this but I noticed that when unicorn or puma forks, it loses all coverage data. The result is that rails initializers has no coverage. I have gotten around this by calling save in the before_fork of unicorn. Haven't tried this on puma yet but imagine it will also work.

[2018-11-10 22:57] danmayer commented on #131
ok try this @jared https://github.com/danmayer/coverband/pull/133 it should work on both versions

[2018-11-10 22:57] kbaum opened #135 "Verification steps might be off"
Looking at this line in the readme:

https://github.com/danmayer/coverband/blame/master/README.md#L197

I think you would not see initializers at this point because saving report data is only done in the middleware and would require at least one request to the rails server.

[2018-11-10 23:03] danmayer commented on #134
ha both doing a bit of work at the moment... yeah I have something similar in m rails app for puma, I think I can address this as part of the Railties effort, I am pretty sure the Railties integration and do Coverband.start before initialization and then do a 1-time Coverband.record post initialize prior to fork.

[2018-11-11 00:38] kbaum commented on #134
Makes sense.

On Sat, Nov 10, 2018 at 6:03 PM Dan Mayer <notifications@github.com> wrote:

[2018-11-11 02:29] danmayer commented on #124
hmmm good point... Especially breaks the idea of just configuring and starting a different integration...

What if the integration always required the middleware, but based on config settings all the middleware does is check if the currently accessable thread has a coverband background thread started... if it doesn't it starts it... after the the middleware basically no-ops.

That or we would need

[2018-11-11 03:42] danmayer commented on #124
Thinking when starting the background thread we set a thread local
variable... Middleware could check presence or not of that. Basically if it
exists do nothing otherwise start background thread runner

On Sat, Nov 10, 2018, 8:26 PM Karl Baum <notifications@github.com wrote:

[2018-11-11 04:14] kbaum commented on #124
I really like that idea. I think we would use some kind of global process state as opposed to a thread local as there should only be one background thread per process.

[2018-11-11 13:31] kbaum commented on #124
Looks much better and should work with unicorn and puma. So far tested with puma.

https://github.com/danmayer/coverband/compare/background_thread_reporting

I think we can follow this approach if we detect puma, unicorn, or any other forking framework within the current stacktrace. Otherwise we can just start the background thread within Coverband.start. Newrelic and sqreen seemed to be following

[2018-11-11 20:54] danmayer opened #136 "add in coveralls CI code coverage tracking"
While our tests output code coverage it is a bit had to visualize and compare coverage over time... Let's add in https://coveralls.io/ support to our CI test runs to make it easy to see that we are maintaining and increasing our coverage.

added as `help wanted` / `good first issue` to see if we can get some more contributors ;)

[2018-11-12 03:30] danmayer commented on #135
yep thanks, resolved: https://github.com/danmayer/coverband/commit/9d90e2b737713782c5fabd8d2a364fe2da0233de

[2018-11-12 03:30] #135 closed

[2018-11-12 16:32] jared commented on #131
Thanks, I'm trying it out this morning.  I had set up a new S3 bucket for this testing, and I'm just waiting for the endpoint to finish propagating through DNS (right now, I'm getting back errors that I should be using the temporary endpoint rather than the original one).

[2018-11-13 13:30] #124 closed

[2018-11-14 15:14] jared commented on #131
Your fix allowed me to move past the undefined constant issue.  I set up a bucket with appropriate permissions, and made sure that Coverband had access to my AWS credentials.

Unfortunately, I wasn't able to read or write to that bucket unless I enabled global access (everyone can read/write to it).  I was getting a 403 / access denied error back from AWS:

[code]

I did test out connecting to the

[2018-11-14 22:45] danmayer commented on #131
hmmm it is weird that you are getting some permission error, I guess there is a chance I didn't pass in the credentials correctly I will see if I can setup a bucket myself and a script that exercises this for real against it.

[2018-11-14 22:46] danmayer commented on #131
I am traveling a bit so might be a couple days

[2018-11-15 00:51] kbaum commented on #118
@danmayer guess we can close this one?

[2018-11-16 19:48] #131 closed

[2018-11-16 19:52] danmayer commented on #131
OK @jared I confirmed with the the aws-sdk 1.x that I can write / read S3 buckets that aren't public. Check your bucket settings and the coverband config options.

[code]

Worked for me. I merged the code in so it will be part of the 3.0.1.alpha release

[2018-11-16 19:57] danmayer commented on #130
any word on this @jagthedrummer I think the last comments should resolve your issue.

[2018-11-16 20:10] kbaum commented on #132
@danmayer - been looking into adding an end to end test that tests both rails5 and rails4. I think this is related to this so i wanted to check in with you to make sure we weren't doing the same work. TBH, i haven't had time to get very far but might have some time to dig into it this weekend.

[2018-11-16 20:17] danmayer commented on #132
Cool @kbaum I haven't started anything on the Railsties yet, I am thinking I am going to cut a 3.0.1 pre-release with what we have and possibly get that released early next week. I don't think I will be able to work on the Railsties until late next week. So I am thinking that might be the major thing for 3.0.2...

The Rails / Rack detection will definitely be helpful for the Railsties stuff...

If

[2018-11-16 20:32] kbaum commented on #132
Sounds good. I was thinking of just installing two rails dummy_apps configured with coverband in the standard way we recommend today. Then would create a test that hits a controller and then verifies that the store has the data. Eventually would be cool if the end to end test actually generates a report and verifies the controller method is covered within the report.

[2018-11-16 20:48] jagthedrummer commented on #130
So sorry for the delay, @danmayer! I missed your comment last week.

After looking into it we _don't_ have the `before_initialize` block that you mentioned. I think the comment above that block in the README made me think that we only needed that block as a replacement for a previously existing `before_eager_load` block, which we didn't have. So I thought we didn't need it.

I'll get that into our

[2018-11-16 21:29] danmayer commented on #132
gotcha, I was wondering if there is any good way to do the full Rails tests without having to check the full apps into the git repo. If you have any ideas all ears.

As for the end to end if we don't need to check in for Rails 5 we could perhaps have some test in or added to `coverband_demo` which is a pretty vanilla Rails app.

I guess we could do something like the existing perf tests that check

[2018-11-16 21:42] danmayer commented on #132
OK, 3.0.1.alpha is live if anyone else wants to test https://coverband-demo.herokuapp.com/coverage?

[2018-11-17 20:42] danmayer commented on #132
cool, we can take a look

[2018-11-21 01:00] danmayer commented on #130
awesome so glad it is resolved, honestly this just shows how difficult the upgrade process was for Coverband 2 and the confusion around supporting both TracePoint and Coverage which had different integration path requirements. Thanks for all the notes and help figuring it out @jagthedrummer

[2018-11-21 04:09] danmayer commented on #131
OK sorry @jared perhaps try on a personal or other test AWS account to play around with some bucket settings...

The access control list on the bucket permissions for "Access for your AWS account" for my bucket looks like below and doesn't need public access.

[code]

I have a totally empty bucket policy.

Best guess would be that the AWS user account you are using doesn't have the right S3 permis

[2018-11-21 04:18] danmayer commented on #132
OK, I should be able to work on the Railties stuff over the next few days. I am going to release 3.0.1 now as it resolves a few things and makes all the new stuff available for anyone looking to give it a shot.

I think as the Railties work gets done, I will also try to add background jobs and rake tasks to show how they are supported to Coverband demo.

[2018-11-21 11:31] kbaum commented on #132
Sounds great.

One thought. If background thread becomes the default setup eventually,
then background jobs and rake tasks are supported out of box with no extra
coverband code. Pairs nicely with the railties work because then truly we
could have no configuration needed when using rails.

Speaking of background thread, should we add that to the readme?

On Tue, Nov 20, 2018 at 11:18 PM Dan Mayer <

[2018-11-21 23:54] danmayer commented on #132
yeah, that is why I want to have them on the demo so we can prove / show how that all works without additional configuration. We will definitely want to clean up a bunch of the readme removing tips on how to integrate into all the other various services.

I think depending on how the work goes we either have one more release of 3.0.x where none of this is the default, no breaking changes, but one

[2018-11-22 13:02] kbaum commented on #132
RE: making the railties backwards compatible. Think the challenge there is not conflicting with an existing setup where the rials project is calling configure, start, and adding middleware already and coverband will automatically be doing this:

https://github.com/danmayer/coverband#3-configure-rack-to-use-the-coverband-middleware

I don't believe calling Coverband.start more than once is problema

[2018-11-22 16:36] danmayer commented on #132
yeah the middleware is hard we can make the railtie not add it if it is already there but basically if they add it at a later point than when the railtie ran we end up with two middlewares... I think given that and moving from documenting to have the gem require: false, no longer needing to include the rake file, etc... it is probably best to move to 4.x and require some small changes for folks do

[2018-11-22 16:43] danmayer commented on #132
ok @kbaum first version to look at

* Coverband changes: https://github.com/danmayer/coverband/pull/146
* Rails integration changes: https://github.com/danmayer/coverband_demo/pull/2

[2018-11-23 17:53] jared commented on #131
Understood -- this is now my problem and not yours :-D

It's strange because the same bucket, with the same policy, has no problem with reading & writing via the aws-sdk gem v2.x series, it's only failing in the v1.x series.  So it's probably a misconfiguration between the older gem and settings at the organization level.

[2018-11-24 04:17] danmayer commented on #134
This has been resolved in the Railtie branch https://github.com/danmayer/coverband/pull/146

[2018-11-24 04:17] #134 closed

[2018-12-01 23:20] kbaum opened #147 "Rack application to view production coverage without the need of S3"
Coverband should come with a mountable rack application for viewing coverage straight from the store in real time. This would remove the need to run a rake task to generate a report along with the need to push the report to an s3 bucket.

Another benefit would be that it would give us control around the data we display. For example, how long we've been collecting coverage on the current file.

Wan

[2018-12-01 23:33] danmayer commented on #147
yep, this is already on the roadmap, I have almost started it a couple of times but decided the background threading and railties stuff was more important. I want to remove the simplecov-html dependency and pull more of that into the gem.

outlined a bit here:
https://github.com/danmayer/coverband/blob/feature/railtie/changes.md#coverband-4x

[2018-12-02 14:09] kbaum commented on #147
This seems relatively straight forward. Have you thought about UI? Something like a bootstrap 4 table with filtering built in?

https://getbootstrap.com/docs/4.0/content/tables/

Think it could also benefit from some pagination and client side filtering. Listing all of the files on a large project can make the browser a little unresponsive.

[2018-12-04 22:06] danmayer commented on #147
updated description the rack app already doesn't need the rake task you can trigger coverage collection, write the s3 report, clear data, etc from the app... The issue is that S3 is needed / used for report storage... And we want to just have a nice view on the actual data...

We could have a very simple view with tables but I think we want to view the source code as it is a bit hard to interpret

[2018-12-05 00:10] kbaum commented on #147
@danmayer Agreed on viewing source being super important. Forgot about that part.

RE: Overlaying onto github source code view. That sounds very interesting... only problem might be that we wouldn't be supporting other source control repos like bitbucket etc.

[2018-12-05 01:47] danmayer commented on #132
closing this out

[2018-12-05 01:47] #132 closed

[2018-12-05 04:48] danmayer commented on #147
OK, I will kick off work on this sometime this week. I have a good thought on how to initially bootstrap something quickly that we can build off of. As for Github I think it is cool, but perhaps an optional adapter vs the source code view.

[2018-12-05 13:07] kbaum commented on #147
Ok great. Let me know if i can help.

[2018-12-06 03:00] danmayer commented on #147
Cool thanks... probably a bit hard to help on this specific part until I get something workable... I might have something good enough to kick off PR discussion later tonight, the current path is looking really promising.

Other things that could be worked on:

[2018-12-06 03:04] danmayer commented on #147
Cool thanks... probably a bit hard to help on this specific part until I get something workable... I might have something good enough to kick off PR discussion later tonight, the current path is looking really promising.

If you are looking for some random Coverband stuff ;) Other things ready for work, if not no worries:
* adding background jobs or cron jobs to coverband_demo to show they work
*

[2018-12-06 05:12] danmayer commented on #147
OK, still a bunch to be done... but @kbaum this works and gets full control of the rendering, assets, and calculations into Coverband... https://github.com/danmayer/coverband/pull/148

Only needed small amounts of changes to get it functional after pulling selected files in.

It needs some further cleanup as I think we don't need / use all of the feature set. Also, I need to decide which tests to

[2018-12-18 16:20] bbugh opened #152 "Better documentation/clearer actions on the web UI"
Hi, Coverband seems quite nice and useful. Thanks for making it!

We've set up the web UI and it's working fine, however the buttons and usage are vague and I'm uncertain what they all do.

[code]

What is the use case for each of these? Some of them seem to be repeats, and some seem to be dangerous but don't say so. `clear coverage` in particular seems to remove **all** coverage info, but doesn't

[2018-12-19 20:57] danmayer commented on #152
ok yeah . @bbugh  sorry about the confusion this is a newer feature to Coverband and isn't as well documented or explained as other parts of the project. We actually have a big branch going to improve on this feature at the moment... I will try to update the readme with some documentation tonight to make things clear.

[2018-12-20 02:22] danmayer commented on #152
OK, @bbugh let me know if this covers your questions...

https://github.com/danmayer/coverband#coverband-web-endpoint

as for improvement to the actual UI and preventing destructive actions, I will build that into the better web frontend we are currently developing. Figured I could at least get the current feature set document first though ;)

[2018-12-25 01:09] dondonz opened #153 "Specify aws-sdk-s3 gem to reduce dependency list"
Hello! I have recently installed Coverband and it has been very useful. Thanks for building it!

I am storing my results in an S3 bucket. When I installed the `aws-sdk` gem, all of the dependent gems were installed, which added almost 700 lines to my `Gemfile.lock` file.

What do you think about requiring only the specific `aws-sdk-s3` gem instead of `aws-sdk`? I understand there may be backwards

[2018-12-25 09:33] dondonz commented on #136
Hello! If this hasn't already been taken, I would like to help.

[2018-12-26 08:01] dondonz commented on #153
Cool! I'll close this issue then.

[2018-12-26 08:01] #153 closed

[2018-12-26 13:08] kbaum opened #154 "Oneshot coverage support for ruby 2.6"
Better performance for ruby 2.6 if coverband user only cares that the line was hit at least once:

https://bugs.ruby-lang.org/issues/15022

[2018-12-26 17:03] danmayer commented on #153
yeah I think S3 will soon be optional for folks that want to run via CI but guessing most won't need it so we can make it an optional dependency. That being said as we do that we can likely move to `aws-sdk-s3` to reduce the gems. Thanks for the suggestion.

[2018-12-26 17:03] danmayer commented on #136
That would be awesome @dondonz let us know if you need anything to get started

[2018-12-26 17:08] danmayer commented on #154
Nice, this will be really awesome, glad there has been some continued interest from the Ruby team, this follows up on the previous tickets I had about some issues on Coverage.

[2018-12-29 06:05] dondonz commented on #136
Thanks!

I've given it a go (PR #157), please let me know what you think.

I have two questions.

1. Could someone please log into Coveralls and add the Coverband repo? Perhaps you've already done this 😄
2. Could I confirm - would you like to retain `SimpleCov` in the `test_helper.rb` file? I have not changed any `SimpleCov` settings.

[2018-12-29 16:15] #136 closed

[2018-12-29 21:42] danmayer commented on #152
ok, check out the new web UI in the 4.0.1.beta release @bbugh this should be much more clear and easy to understand / use.

https://coverband-demo.herokuapp.com/coverage/#_AllFiles

[2018-12-29 21:43] danmayer commented on #147
ok, @kbaum I merged in the branch and improved the web UI a bit more... take a look at the new Coverband admin web https://coverband-demo.herokuapp.com/coverage/#_AllFiles

This is released at 4.0.1.beta and I think it might be good enough for the 4.0.1 release after some documentation updates, but let me know.

[2018-12-30 13:11] kbaum commented on #147
@danmayer Looks great! Agreed being ready for 4.0.1. :shipit:

[2018-12-30 15:06] kbaum opened #158 "Coverage data since..."
The longer code has gone without being hit, the more confident we are to delete it. Let's add the coverage start date to each file in our coverage report. Something like?

![image](https://user-images.githubusercontent.com/96786/50548444-84e82480-0c1a-11e9-933b-3cc2a0d0d0fd.png)

[2018-12-30 15:12] kbaum opened #159 "Exclude clear coverage report by default"
We are now resetting coverage for each file whenever there is any change. Because of this, I am not sure it makes sense to offer the ability to "clear coverage report" from the admin. This seems like it could do more harm than good.
![image](https://user-images.githubusercontent.com/96786/50548451-c082ee80-0c1a-11e9-879e-d2e57422c490.png)
Perhaps we make this configurable and off by default?

Also

[2018-12-30 16:06] danmayer commented on #158
yep we have the data and now own the full rendering... I guess should we add this in before 4.0.1 as it is a pretty cool new feature to add to the list? @kbaum

[2018-12-30 16:06] danmayer commented on #158
I might be able to knock it out today

[2018-12-30 16:10] danmayer commented on #159
The force collection has been helpful for testing and debugging, I think it has also been helpful for folks that collect coverage while running selenium against an external server... but perhaps it is more helpful as an API than a button.

I am +1 on moving clear coverage to a configurable off by default...

I do think driving via API the flow for running selenium tests is something like this...

[2018-12-30 17:10] danmayer commented on #158
ok take a look https://github.com/danmayer/coverband/pull/160

[2018-12-30 19:55] kbaum commented on #159
Ok. I think "clear coverage report" is the much riskier one anyway.

RE: selenium use case. Why would people prefer to measure selenium coverage in production versus running automated tests in a continuous build type environment? I feel like the major use case of selenium is to measure what real users are actually hitting in production vs an automated script which can be run against a non-producti

[2018-12-30 20:47] danmayer commented on #158
live in release 4.0.1

[2018-12-30 20:47] #158 closed

[2018-12-30 20:47] danmayer commented on #152
live in release 4.0.1, overall should be much easier to understand I will update the readme to reflect the new UI

[2018-12-30 20:47] #152 closed

[2018-12-30 20:47] danmayer commented on #147
live in release 4.0.1

[2018-12-30 20:47] #147 closed

[2018-12-30 22:16] danmayer opened #161 "Coverage last activity recorded not acting as expected"
Coverage last activity recorded is always the most recent coverage collection, not when that file was hit.

The new feature that displays when coverage timeframe (first seen for the current version of a file and when it last received an update)... Always, has the last updated at the most recent time Coverband reported...

https://coverband-demo.herokuapp.com/coverage?#706772eba501dc088a894962fcc23

[2019-01-06 21:02] danmayer commented on #159
@kbaum  I would need to talk to selenium users more as I don't use Coverband this way but have heard from a number of folks that do. My understanding is they are running these in an automated fashion but against a full staging deployed server so the standard SimpleCov tooling doesn't work for them. Coverband seems to be helpful for folks doing large QA project against staging environments... I am

[2019-01-06 21:32] kbaum commented on #159
Ok. Makes sense!

[2019-01-06 22:01] danmayer commented on #159
OK this was committed on master branch

[2019-01-06 22:01] #159 closed

[2019-01-06 22:03] danmayer opened #162 "Travis CI / Bundler 2.0 not happy"
I have all the tests passing except 2.3 as Travis-CI doesn't seem to let us install bundler 1.3.x but keeps trying to use 2.0...

https://travis-ci.org/danmayer/coverband/builds/476105586

I followed directions here and it works for everything except Ruby 2.3

https://docs.travis-ci.com/user/languages/ruby/#bundler-20

[2019-01-07 00:52] kbaum commented on #162
Judging by the errors, it looks like rails 4 flat out does not support bundler 2.0. Can't make much sense of why ruby 2.3 doesn't work with bundler 1.3.x. Feel like it might be a little early to drop support for rails 4.x?

[2019-01-08 04:41] danmayer commented on #162
OK it took way longer than it should have and it would have been cleaner to do my tests on a branch... but I got everything passing with bundler 1.17.3 on travis-ci...

https://travis-ci.org/danmayer/coverband/builds/476675778

travis-CI file:
[code]
cleaner version: https://travis-ci.org/danmayer/coverband/builds/476677975

This had some good tips but the find trick didn't work for me: https://gi

[2019-01-08 04:41] #162 closed

[2019-01-08 12:59] kbaum commented on #162
Well done!

[2019-01-10 19:01] jaysonvirissimo opened #163 "Broken link in README.md"
The readme links to [here](https://github.com/danmayer/coverage_demo), but that 404s. It's possible that it is a private repo that needs to be made public.

[2019-01-10 20:51] kbaum commented on #163
Good catch! I think this is the one we meant? https://github.com/danmayer/coverband_demo

[2019-01-10 21:01] danmayer commented on #163
thanks fixing

[2019-01-10 21:02] danmayer commented on #163
I think that was an older demo which was replaced by coverband_demo... Anyways, I updated the link in the readme and thanks again @jaysonvirissimo

[2019-01-10 21:02] #163 closed

[2019-01-10 21:07] jaysonvirissimo commented on #163
👍

[2019-01-17 18:23] findchris opened #167 "Mountable web endpoint: Rails only?"
Hi there.

I've got coverband running and when I `rake coverband:coverage`, a browser tab opens with the word "loading" and a broken image.  Viewing the source, I can see it's trying to fetch `application.js` and `application.css`, so I wonder if these web endpoint is a Rails-only option?  I'm not running Rails (it's a simple Rack app), and I'd like to view the coverage stats.  What am I missing?

[2019-01-18 02:22] kbaum commented on #167
Just tried this out on my own and verified that this is indeed a problem. This was actually a great exercise as it uncovered what i think are additional problems. I created an empty directory with just a Rakefile containing:

[code]
When I execute `rake coverband:coverage`, I get:

[code]
So added rack to the gemfile block:

[code]

Then I got:

[code]

So I defined an environment task:

[code]

O

[2019-01-18 02:31] findchris commented on #167
Thanks for chiming in @kbaum - glad you could verify.  It seems there is an assumption of a Rails app being present to view the endpoint, which doesn't seem to be a hard requirement from the docs, so just trying to figure out how to view the report.

[2019-01-18 07:36] danmayer commented on #167
hmm the broken loading and such is new and came from moving away from the simplecov dependency. So it isn't that you need Rails, but that we broke local file views while porting into Coverband. It should be writing all the assets needed with the rake task to the `./coverage` the directory the same way that simple_cov did...

So this is a bug / regression, which we should be able to fix in the next

[2019-01-18 13:07] kbaum commented on #167
Quick question on this. I did verify the `rake coverband:coverage` is working on my rails project with 4.01. Given the missing assets, shouldn't it just be broken everywhere?

[2019-01-18 13:10] kbaum opened #168 "Dependency on rack"
It seems as thought coverband has a dependency on rack.

Given the following Rakefile:

[code]
Execute:

[code]

And I end up with:

[code]

[2019-01-18 13:12] kbaum opened #169 "Rake task dependency on environment task:"
Given the Rakefile:

[code]

Execute `rake coverband:coverage` and I end up with:

[code]

[2019-01-18 16:58] kbaum commented on #167
Re-opening this for now since it's a bug.

[2019-01-21 20:29] danmayer opened #175 "possible memory leak reported in resque web"
I got an email with graphs showing constantly growing memory in someone's resque background worker processes after deploying Coverband. I don't have additional details on the version or the config setup.

I will try to get some additional information but will also see if I can figure something out or reproduce.

[2019-01-22 00:46] kbaum commented on #175
Not sure how they have coverband setup with resque but the default background reporting thread wouldn't work as resque forks a new process for each job and the forked process wouldn't have a background thread.

Perhaps we should think about having out of box support for resque?

[2019-01-22 02:51] danmayer commented on #175
yeah I am going to ask for more config details thinking we might need to detect resque and do something different.

[2019-01-23 13:44] kbaum opened #176 "Out of box support for resque"

[2019-01-23 13:49] kbaum commented on #176
Created a simple project which runs resque jobs and includes coverband.

https://github.com/kbaum/resque_coverband_test/

[2019-01-24 00:50] danmayer commented on #176
awesome this is a great way to work on it, I use sidekiq most of the time so thanks for getting it setup!

[2019-01-25 03:43] danmayer commented on #175
so it not working makes a lot of sense, but still struggling to figure out why it would leak memory...

[2019-01-25 04:08] danmayer commented on #175
tried a bunch of things but can't cause a leak so far... I think we can work on adding out of the box support and perhaps I can get some more info on how things are configured... or while building this feature perhaps a leak will make more sense.

[2019-01-25 04:47] danmayer commented on #176
ok so digging in a bit my basic thinking...

We detect if Reque is loaded... if it is we configure job hooks... then it could work similar to the rack_middleware and report coverage...

https://github.com/resque/resque/blob/master/docs/HOOKS.md#job-hooks

[code]
The issue I see is resque doesn't have a base class or other easy way to extend all jobs... as they can just be any generic Ruby class.

[2019-01-25 05:21] danmayer commented on #176
another option would be to document or enable resque to run our at_exit hook

https://www.rubydoc.info/gems/resque/Resque/Worker#run_at_exit_hooks-instance_method

or we patch the runner

[code]

[2019-01-25 14:08] kbaum commented on #176
Those are all great suggestions. I think the challenge here is that resque workers are plain ruby objects and don't include a module. Resque has an after_fork hook that we can use to start coverband. We can also leverage the at_exit ruby hook but an environment variable `RUN_AT_EXIT_HOOKS` has to be set for this to work.

https://github.com/resque/resque/blob/master/docs/HOOKS.md#worker-hooks

Thr

[2019-01-25 14:43] kbaum commented on #176
Removed the extra at_exit hook since coverband already has an at_exit:

https://github.com/kbaum/resque_coverband_test/commit/45874b8d8b6ac18e00bb8195d8f13576d96b5ced

Though on a side note, i think we should probably move that hook out of the Background class as I am thinking it's not related.

https://github.com/danmayer/coverband/blob/master/lib/coverband/integrations/background.rb

At the very

[2019-01-25 16:08] danmayer commented on #176
ok so if we detect resque, don't start background reporting, but use the after_fork to start coverband and add the at_exit.... Then the resque primary process does no coverband and the forked processes start/report once per cycle...

I think this works... it is a bit slow as we can't only report in the background so they take the full network reporting hit per job. Which isn't ideal, but I don't s

[2019-01-25 18:22] kbaum commented on #176
Right. I don’t think we need to do anything special for resque for at_exit as I think this makes sense for all coverband ruby processes.

We could also introduce the idea of only reporting a certain percentage of job executions with resque if we are worried about performance.

[2019-01-25 18:47] kbaum commented on #176
RE: percentage of job executions. Ideally this would be configurable per job. Some jobs might be running non-stop and are fast while other jobs might run once every 3 months and take minutes.

[2019-01-26 12:45] kbaum commented on #176
Thought it would be helpful to look at what newrelic does for resque:

https://github.com/newrelic/rpm/blob/master/lib/new_relic/agent/instrumentation/resque.rb#L25

Looks like they wrap calls to Resque::Job#perform using alias_method. The advantage of this approach is that we do not have to rely on all jobs running at_exit which is off by default in resque. I can see why the default is off becaus

[2019-01-26 14:49] danmayer commented on #176
yeah I like going with prepend. I think percentage as an option would be good to add in as we used to have for our middleware / tracepoint version. Do you want to knock this out? looks like you have a good spike and idea going.

[2019-01-26 15:16] kbaum commented on #176
Sounds good. I’ll knock this one out.

[2019-01-27 20:14] kbaum commented on #176
Merged in this: https://github.com/danmayer/coverband/pull/177

That being said noticing some sporadic test failures with the resque test. Going to open a new issue for that and close this.

[2019-01-27 20:14] #176 closed

[2019-01-27 20:16] kbaum opened #178 "Resque test failing sporadically"
Noticed this failure:

[code]

Along with this test failure output:

[code]

[2019-01-29 03:58] danmayer opened #180 "support coverage on app gems"
Beyond just reporting application coverage it would be good to support Gem usage. This would let one find gems that are loaded and not used as well as underutilized and possibly a good target for removal.

[2019-01-29 04:04] danmayer commented on #180
I need to do lots of refactoring and some serious work on performance, but this is a first version that works / shows the UX I am thinking about. Let me know thoughts @kbaum

![gem_example](https://user-images.githubusercontent.com/24925/51883445-1cd34e00-2340-11e9-8743-e5ae628b8857.gif)

[2019-01-29 15:05] kbaum opened #182 "Coverage status badge broken on readme"
![image](https://user-images.githubusercontent.com/96786/51917338-568e6e00-23ad-11e9-9e38-113f07115daa.png)

[2019-01-29 15:07] kbaum commented on #178
Fixed by #181

[2019-01-29 15:17] danmayer commented on #180
There is an impact on measuring, I will get some benchmarks on that for now hard to say how much of an issue. I don't think much honestly mostly because of the background thread reporting... The actual measurements were always taking place basically in the STDLIB coverage we were just filtering it out.

The primary perf issue is viewing the report... the page with all the gem source gets so big an

[2019-01-29 15:51] kbaum commented on #180
I can see performance issues with pushing to redis because we are pushing so much more data given we are not filtering the gems directory. Not sure how much of a real impact that would have considering we are pushing to redis in a background thread.

RE: The report. I think this is super valuable without that much detail on per line usage for gems. I imagine that might speed up the report itself a

[2019-01-29 21:14] danmayer commented on #180
yeah that would definitely be one way to reduce the load just not load gem source... in terms of if a gem is used or not that works great... one thing I have been doing more lately is a gem that has very light use just porting the needed functions directly into the app and dropping the gem. I think the source code view would be really helpful in that case...

Basically, that is what we did with Co

[2019-01-30 04:16] danmayer commented on #178
Does this mean we want to do the alpha release? If so we could do that while I work a bit more on the gem feature... we could maybe get my feature into a beta release or it will slip to 4.0.3 if I hit any issues? I think I can have that company try the alpha if we think the resque stuff is good to go

[2019-01-30 04:40] danmayer commented on #182
hmm works for me right now @kbaum is it still broken for you? Any chance it was just broken while coveralls was updating?

<img width="1224" alt="screen shot 2019-01-29 at 9 38 41 pm" src="https://user-images.githubusercontent.com/24925/51958698-6db17800-240e-11e9-9f30-cdb8e51bf8c3.png">

[2019-01-30 07:34] gingerlime opened #185 "ENV["REDIS_URL"] isn't picked up?"
I'm seeing a weird issue, and would appreciate some help on how to troubleshoot.

On my dev environment everything is working fine, with or without `config/coverband.rb`. There's a `ENV["REDIS_URL"]` set and it's picked up correctly by coverband (4.0.1)

On my staging environment however, I also have the `ENV["REDIS_URL"]` set, but somehow it's not picked up, and when I go to `/coverage`, I'm gett

[2019-01-30 13:50] kbaum commented on #178
I think just having resque support is good enough for a release. If we follow semantic versioning, it's enough for a minor release which would be 4.1.0 since it's new functionality but it's backwards compatible. We haven't been following this approach but no harm in starting now 😄.  Let me know what you think.

[2019-01-30 14:43] kbaum commented on #185
Interesting.. not sure what's happening. You should no longer need to set the store as it will default to looking for REDIS_URL environment url:

https://github.com/danmayer/coverband/blob/master/lib/coverband/configuration.rb#L67

If you start your console environment in staging, try executing:

[code]

In dev, mine looks like:

![image](https://user-images.githubusercontent.com/96786/51988612-18

[2019-01-30 14:44] kbaum commented on #182
Ack it's working for me now... hmmm.. could this be happening when we run a build?

[2019-01-30 14:59] gingerlime commented on #185
Thanks @kbaum. Yes, I'm aware that it should pick it up, but I set it up explicitly, just in case. It didn't work either way.

... Unfortunately I'm just about to go offline for a few days, so can't really test it... Which isn't ideal for trying to troubleshoot this and keeping the conversation going on Github. Feeling a bit silly for opening the issue as I'm about to disappear.

I should be back

[2019-01-30 15:26] kbaum commented on #185
Tough for me to say as I am not all that familiar with dotenv but it looks like it's only meant for dev?
https://github.com/bkeepers/dotenv#rails
No rush on figuring this out.. we'll still be here a week from now 😄 .

[2019-01-31 00:47] danmayer commented on #182
yeah thinking it might have some brief outage between builds, we are using very standard coveralls setup so I don't know what exactly we would change. I will close for now but if you notice a pattern re-open...

note there is a bug out when viewing markdown in the Atom.io editor where it caches old images for a very long time and can do weird things.

[2019-01-31 00:47] #182 closed

[2019-01-31 02:44] gingerlime commented on #185
Thanks @kbaum !

I think dotenv can be used in production, even though originally it was intended for development. https://github.com/bkeepers/dotenv#can-i-use-dotenv-in-production

Having looked at the dotenv readme again, there's [something](https://github.com/bkeepers/dotenv#note-on-load-order) I might try, because I suspect this is the culprit... (but it'll have to wait unfortunately)

Might b

[2019-01-31 02:53] danmayer commented on #185
@gingerlime / @kbaum I think that you need to ensure that dotenv is required before Coverband. Since both use railties I believe your dotenv isn't set by the time Coverband is looking for it...

Dotenv has some options on how to controll load order
https://github.com/bkeepers/dotenv#rails

I would try to change order in Gemfile and use the magic require line to ensure it is loaded before Coverband

[2019-01-31 03:04] danmayer commented on #185
ha we both found the load order issue at about the same time @gingerlime no worries we will leave the ticket open until you can test.

[2019-01-31 03:10] gingerlime commented on #185
Thanks @danmayer!

I was able to test on my dev box, and I think this is it. I'll be able to confirm in about a week from now on staging, but I'm 99.9% sure adding the `require: 'dotenv/rails-now'` does the trick.

The only thing I'm a bit unsure about is whether this has any negative effect on being able to measure coverage in some ways, but I hope it would only mean that the `dotenv` gem itself

[2019-01-31 22:55] #185 closed

[2019-02-01 15:16] CharlesMcMillan opened #186 "Eager loading of files skews the coverage percentages"
In our coverband results, we are often seeing files that are mostly unused, but showing percentages above 60% or so...the reason being that the method definition `def method_name` and `end` are counted as being covered...which makes sense because the file is loaded.

In production, we use `eager_load = true` on our rails server, and I _think_ that might be related to what we're seeing here.

Is th

[2019-02-01 17:21] danmayer commented on #186
yeah I have been thinking about this a lot lately @CharlesMcMillan ... it is good to know they are run... but it is very different what is executed at load time vs run-time... Basically, the standard-lib of Coverage doesn't know the difference, but I think Coverband could figure this out by diffing eager load lines... to what it gets past initial file load during runtime. This kind of difference a

[2019-02-01 20:17] kbaum commented on #186
@danmayer That sounds like a great way to handle it. Another thought i had here is that what we really want to know is percent method body execution. I wonder if there is a way to calculate that?

[2019-02-01 21:22] danmayer commented on #186
hmm could you explain more... would this be kind of like a new breakdown of the file... right now we have relevant lines which is non-white-space, non comment, etc lines... is 'method body' kind of like even more interesting relevant lines?

Are method body lines somehow different than `on load` / when required lines... or just better naming?

I think the idea is good something like below...

exis

[2019-02-02 20:21] kbaum commented on #186
My last idea was not well thought out. I was just thinking that most often method bodies are missed and only class definitions such as constants, macros, and method signatures are hit on app load. This is not 100% true though and aside from that it would probably be difficult for coverband to know which lines of code are inside a method body.

@danmayer I like your idea of tracking what lines are

[2019-02-02 20:54] danmayer commented on #178
yeah I have tried to follow semantic versioning but probably screw it up occasionally with small features ;)

Anyways, I say we cut the alpha version and we can have that company give the resque support a test for us.

Want me to change the version and release alpha or do you want to do that?

As or my feature, I am getting close but it doesn't matter to me if it makes it in 4.1.0 or 4.2.0

[2019-02-02 21:37] kbaum commented on #178
Sure! I'll cut the alpha release.

[2019-02-02 21:39] kbaum commented on #178
Done.
https://github.com/danmayer/coverband/commit/0a89a38de36ecadb8c3c9bb7fd97c47112e7fc52
And gem pushed to rubygems.

[2019-02-03 00:56] danmayer commented on #178
Great I will ping the email contact and see if they can see if this
resolved the issue.

On Sat, Feb 2, 2019, 2:39 PM Karl Baum <notifications@github.com wrote:

[2019-02-03 16:19] danmayer commented on #161
this and #186 are kind of the same and will likely be looked at for version 4.3.0

[2019-02-03 16:33] danmayer opened #187 "refactor tests to match directory structure of lib folder"
This should wait until the gem support PR is merged, but our tests are a bit messy and refactoring to have integration/unit and then having everything match the folder structure in lib would be helpful.

[2019-02-03 16:43] danmayer commented on #180
OK take another look @kbaum I believe there should be

on collection:
* no perf impact if this feature isn't enabled
* small impact to the collection of gem data, generally OK because of the background reporting

on web report load:
* no perf impact if this feature isn't enabled
* small impact if just listing gem and percentages (this feels usable already)
* large impact to list gem and all gem so

[2019-02-04 17:35] danmayer commented on #176
This is available for testing in the 4.1.0.alpha gem release. https://rubygems.org/gems/coverband/versions/4.1.0.alpha

[2019-02-05 02:31] danmayer commented on #180
The test release is running on production without issue and helped find at least one gem that never should have been loaded on production.

[2019-02-05 03:37] danmayer commented on #178
still seeing this test fail time to time on travis-ci . @kbaum

[code]

https://travis-ci.org/danmayer/coverband/jobs/488820423

Emailed contact they are giving the alpha a shot tonight or tomorrow.

[2019-02-05 13:02] kbaum commented on #178
Doh! I thought we had it. Will try and track it down.

[2019-02-06 09:39] gingerlime opened #188 "full or relative path?"
I'm finally looking at our first coverband reports on staging, and one thing I noticed is that when versions are deployed, coverband seems to treat files differently, even without changes to those files.

For example our app is deployed to `/var/local/company/company/` and we use symlinks to allow rollback etc, so the actual path is something like `/var/local/company/company.d/123` and the symlink

[2019-02-07 13:13] kbaum commented on #188
Coverband has support configuring array of root_paths and it removes those root_paths with a `gsub` here:

https://github.com/danmayer/coverband/blob/master/lib/coverband/reporters/base.rb#L64

Could you try passing a regexp of your absolute root_path into the config?  Something like:
[code]

[2019-02-07 15:50] jagthedrummer opened #189 "Any way to disable coverband via config or ENV var?"
With older versions that required manual config we would use an ENV var to control whether coverband was activated or not. This allowed us to turn it on/off without requiring a new deploy. Is there any way to so something similar with the new rail tie?

[2019-02-07 15:57] kbaum commented on #189
Great question and we should definitely document this on the README. I believe you can set `COVERBAND_DISABLE_AUTO_START` environment variable.

https://github.com/danmayer/coverband/blob/master/lib/coverband.rb#L60

Let me know if that works for you.

Another way I have done it is setting `require: false` in the Gemfile and then requiring coverband at whatever point you want.

[2019-02-07 16:03] jagthedrummer commented on #189
Wow, you're fast, @kbaum! Thanks for the info. `COVERBAND_DISABLE_AUTO_START` looks like exactly what we need. Cheers!

[2019-02-07 16:03] #189 closed

[2019-02-08 06:09] gingerlime commented on #188
Cool. Thanks @kbaum ! Just what I was looking for.

Should be `config.root_paths`, and also `Dir.pwd` should be [last](https://github.com/danmayer/coverband/blob/3130012b7daf7cce2c8324d4b79fe78d66958620/lib/coverband/reporters/base.rb#L72) ?
i.e.

[code]

But somehow, I'm still seeing two instances for each ruby file, and not entirely sure why or how to resolve this

![screen shot 2019-02-08 at 13

[2019-02-08 07:23] gingerlime commented on #188
Update: this seems to work (trailing slash for the regex path)

[code]

But now there's a different problem, although I'm sure it's related, but somehow on every deploy, the stats look totally wonky

To reproduce:

* I deploy, clear coverage report, and make some requests so data is updated
* at this point coverage data looks good, makes sense

![screen shot 2019-02-08 at 14 19 31](https://user-im

[2019-02-08 13:23] kbaum commented on #188
Interesting.. One thing to note that if a file is simply required after coverband starts, then the loading of that file will cover much of the code. If it's a class for example, all the code hit when loading the ruby class will be hit including method definitions, class definitions, and constants. The method bodies will be missed.

I also noticed on the demo that if all of the code is commented ou

[2019-02-08 13:34] kbaum opened #190 "Gem files on demo blank"
I noticed the gem files are showing up under the app tab:

![image](https://user-images.githubusercontent.com/96786/52480910-05cfff80-2b7b-11e9-9bf5-097a74aba176.png)

Clicking on one of those files shows a blank modal:

![image](https://user-images.githubusercontent.com/96786/52481348-40866780-2b7c-11e9-8c25-83719bcca44f.png)

https://coverband-demo.herokuapp.com/coverage?#69851ffa22c0b74c15d95bb

[2019-02-08 13:54] gingerlime commented on #188
hmmm... I'm not sure to be honest. If you look at the first screenshot, after clearing the report, it shows 8090 relevant lines, but then after deploy, only 190 relevant lines... So it looks like lots of code "went missing" (not sure how to describe it). It's simply missing from the coverage report.

I can see lots of our controllers, etc. Not sure what exactly is missing. Some controllers shouldn

[2019-02-08 23:07] kbaum commented on #188
Ok, i think i may know what's going on. If i open up my console and do:

[code]

I see absolute paths:

[code]

Since your directory structure is changing each time you deploy, is your coverage being wiped? Can you execute this command and see what comes back?

[code]

[2019-02-08 23:32] danmayer commented on #188
yeah feels like this has got to be related to the path normalization code... the regex on root paths was designed for that, but I haven't seen a system setup like that for awhile... I am guessing there is a bug... I can help look into it.

* some example keys as @kbaum mentioned would be helpful.
* your deployed paths if you could give two full path examples that match the regex
* full path for ex

[2019-02-08 23:33] danmayer commented on #188
if you share some more details I should have some time to look this weekend @gingerlime

[2019-02-09 01:24] gingerlime commented on #188
@kbaum @danmayer Thank you!

Yes, I can see several folders listed, e.g.

[code]

Here's an output filtering for a specific controller (sanitized)

[code]

This controller now shows as having 100% coverage, but I'm quite confident that actual coverage is lower. There are some rescue clauses that aren't likely to get executed normally. I think the same goes to lots of other files.

Is this helpful?

[2019-02-09 12:59] kbaum commented on #188
This sounds like a solid approach to me. 99% of my rails deployment experience has been on Heroku which comes with zero downtime deploys using preboot.

[2019-02-09 13:43] gingerlime commented on #188
I'm ashamed to admit, but I've never used Heroku. Of course I know lots of people use it, but I never did ... Both Unicorn and Puma support zero-downtime deploys (in various flavours, it seems), and also I thought that the `folder.d` structure with incremental releases and using symlink to point to the active and previous versions are pretty standard?

First time I hear of preboot as well :) It so

[2019-02-09 15:42] danmayer commented on #188
Yeah I have seen the folder setup you have before, but between heroku and moving to docker for deployments. I used something very similar to your deploy process at my previous gig about 4 years ago.

I currently deploy with Docker and it works similarly for 0 downtime deployments as Heroku (basically a blue/green deployment process) where you fully boot up a new instance verify it's health checks

[2019-02-09 17:53] danmayer commented on #190
Thanks, I will look the blank issue isn't really a problem when gem details are disabled they aren't rendered... At the moment that is disabled on coverband_demo

https://github.com/danmayer/coverband_demo/blob/master/config/coverband.rb#L49

So the bug seems to be that it is filtering some gems into the app folder... I will take a look, should be an easy fix.

[2019-02-09 18:41] danmayer commented on #188
hmmm so @kbaum and @gingerlime this is a bit trickier, my first thought / tests I wasn't able to reproduce. We actually had a pretty good test for the regex file path stuff in place. I took data from this ticket but wasn't able to cause the error in my new test.

I was able to clean up the tests and improve the documentation a bit. Particularly around when one needs to use double quotes around the

[2019-02-09 19:10] danmayer commented on #188
Hmm so the prune_bundler and rolling restart could be interesting...

From the docs:
[code]
I am curious does this means in your production config you also don't eager load the app?
`config.eager_load = true` is that false perhaps?

I am thinking somehow on deploy... one of the following happens

* Coverage doesn't get started again
* Coverband doesn't get started again
* if not preloading that th

[2019-02-09 20:00] danmayer commented on #190
OK, committed a fix for this on the gem branch https://github.com/danmayer/coverband/commit/f678cd71250b4e83e276727c7ad9d2c37b965d48

after tests pass I will release beta gem to test that on Coverband demo. This only impacted gems that use a vendor deployment style that is under the application directory like heroku, so it didn't show up on my production app.

[2019-02-09 20:20] danmayer commented on #190
hmmm OK fixed, but the 'vendor' issue causes another problem... where standard lib files show up in APP

https://coverband-demo.herokuapp.com/coverage/#_App

to make gems work on heroku, I removed 'vendor' from the default ignore... I think I will need to remove vendor but add something back to ignore standard lib... So I guess this is only partially fixed for now

[2019-02-10 01:56] gingerlime commented on #188
`config.eager_load = true` is that false perhaps?

It's set to `true` for production and staging, and `false` for development, test

Yes, the controller on the screenshot does have 18 lines. Also other controllers show correct line counts as far as I can tell, including the `dashboard_controller` that I mentioned (that has some rescue clauses that I don't expect to be covered).

Here's the coverag

[2019-02-10 21:02] danmayer commented on #190
oh yeah forgot about the vendor issue working on that now.

[2019-02-10 21:35] danmayer commented on #188
Thanks for sharing the data this should be helpful... It doesn't look like the coverage data would consider many of the lines not be "relevant" given that means Coverage should report them as nil and we see counts and 0... Makes me think something is happening when it tries to read and load the files...

Making regex explicit vs string or regex likely would be a bit safer. Would need to break back

[2019-02-10 21:37] danmayer commented on #190
ok fixed and pushed to the gem branch

[2019-02-10 21:37] #190 closed

[2019-02-10 22:13] danmayer commented on #188
hmm OK I might have finally been able to figure out / reproduce this in a test with the example data...

[2019-02-10 22:28] danmayer commented on #188
excellent thanks for the data... basically it looks like since adding the MD5, first_updated_at, last_updated_at, and meta data feature merging data across multiple file paths as been broken. We hadn't seen any bug reports as it just doesn't seem to be as common as a usage pattern, but this functionally hasn't worked for the last 3 versions or so. I have a test replicating the problem now and shou

[2019-02-10 22:47] danmayer commented on #188
OK woohoo, figured it out... this was a pretty bad bug / regression, clearly, this feature didn't have enough test coverage and hasn't seen enough real-world usage for a while. I really appreciate all the support figuring this out @gingerlime

take a look and we can make sure this is in the next release. We could put it in an alpha build release for you test and verify before wider release.
https:

[2019-02-10 23:33] danmayer commented on #178
dang still hitting this on CI and sometimes locally

[code]

[2019-02-10 23:44] kbaum commented on #178
Oh.. i wasn't able to make it happen locally previously. Will take a look!

[2019-02-10 23:54] danmayer commented on #178
just fixed a different test on master that occurred from the merges, but this one still happens on master for me if I run multiple times in a row... perhaps 50% of my runs

[2019-02-11 00:06] danmayer commented on #188
OK, @gingerlime if you want to verify the fix before release that would be awesome... I pushed the fix in a beta release. Should be as easy as bumping your gemfile to the below and `bundle install`

`gem 'coverband', '= 4.1.0.beta'`

let me know if you have any issues

[2019-02-11 00:08] danmayer commented on #180
making this closed as it is in 4.1.0.beta and the 4.1.0 release should go live this week

[2019-02-11 00:08] #180 closed

[2019-02-11 00:43] kbaum commented on #178
Interesting that you are getting 50% failures rate.. i am using this script to test right now:

[code]

And all tests are currently succeeding each time. I am using ruby 2.5.3. I wonder if we are doing anything differently?

[2019-02-11 00:48] kbaum commented on #178
I am using redis 5.0.2

[code]
I also just updated all of my gems with a
[code]

[2019-02-11 00:49] gingerlime commented on #188
@danmayer thanks a lot! that's awesome

I deployed `4.1.0.beta` on staging and it looks good again 👍 (unfortunately I won't have access to staging until the end of the week to test further across more deploys, etc)

Wouldn't this blow up the data size by a pretty significant factor over time (especially if you deploy frequently)? I thought the data in redis is serialized into a single key, so if t

[2019-02-11 00:54] kbaum commented on #178
I ran this for a while and it ended up actually failing on a different test eventually but it took a while:

![image](https://user-images.githubusercontent.com/96786/52542442-a9810180-2d6d-11e9-94af-aa260900780e.png)

[2019-02-11 01:21] kbaum commented on #178
Modified the script to output the current run number:
[code]
Still got the same test failing on the 18th run:
![image](https://user-images.githubusercontent.com/96786/52542790-60cb4780-2d71-11e9-9bfa-273b59db3b62.png)

[2019-02-11 01:25] kbaum commented on #178
Another note on that test is that it fails consistently for me if i execute it on it's own:

[code]
![image](https://user-images.githubusercontent.com/96786/52542857-0da5c480-2d72-11e9-809e-3b75081300b5.png)

[2019-02-11 01:37] kbaum commented on #178
This appears to address the rails_gem_full_stack_test.rb failures:

https://github.com/danmayer/coverband/pull/192

Was able to consistently reproduce so this one was pretty easy to track down.

[2019-02-11 02:19] danmayer commented on #178
interesting so this seems to be timing conflicts... Might need a cleaner way to fully isolate some of our Coverband tests since they normally with different configurations assume to be run in full process isolation.

[2019-02-11 02:20] danmayer commented on #178
Anyways merge that and if we stop having any travis failures cool... funny I didn't see that one fail for me often but it did about 1 out of 10 times have that test fail vs the resque test.

[2019-02-11 05:24] danmayer commented on #188
yes you are right the TTL model worked well previously when we had multiple keys per file... In the new storage for directories that change on deploy this would lead to unlimited growth...

I am pretty sure we can resolve that by merging the results to a single file when we merge coverage data, and throw out any data that is no longer mergable (IE md5 doesn't match). This definitely presents a bit

[2019-02-11 06:39] gingerlime commented on #188
I guess until then, our best option is to clear the coverage data on every deploy, or every X deploys (although keeping track of it presents its own challenges).

Is there anything I can help with? still not really familiar with the codebase, but with some pointers and help I might be able to figure out something.

[2019-02-11 14:51] kbaum commented on #178
Did some more experimentation on this on the morning commute. Noticing that `test/unit/rails_full_stack_test.rb` was failing every 10th time. By including as a reload_file, was able to execute 50+ times in a row with no failure.  My theory is that in some cases, the dummy_controller was being required before the `Coverage.start` which causes class load coverage to be missed.

That being said, it l

[2019-02-11 14:54] danmayer commented on #188
yeah I think until then clearing every X days is likely the best. Sorry about this @gingerlime definitely another thing missed when we changed our storage mechanism. I don't think it should be too bad to add the merge in... basically our save mechanism works like so

* pull old coverage report from
* merge with new data
* store new coverage report on redis

The "merge with new data" step currently

[2019-02-11 18:28] danmayer commented on #178
given how coverband works and some of the issues with load order and background processes etc... this could be an interesting approach at test isolation. Our actual tests (not benchmarks) are pretty fast

https://www.gregnavis.com/articles/how-to-reduce-test-interference-in-minitest.html

[2019-02-12 02:33] gingerlime commented on #188
@danmayer interesting. I guess it's happening [here](https://github.com/danmayer/coverband/blob/2f0785eac742c0d28d2e55761f78eb573f309712/lib/coverband/adapters/base.rb#L64).

Canonicalizing the paths could be a solution, but could incur some performance penalty. I wonder however, if merging can be based on md5 hash instead of the filename key? It would change the merge algorithm, but I think perfo

[2019-02-12 04:03] danmayer commented on #188
Yeah this would be possible, shouldn't be to much slower, just have to dig into the hash value vs merging entirely based on key.

If we merged every time it should always flatten from 2 -> 1 depth right? So I think it would just be a constant hit vs one that grows over time.

No generally I use coverband_demo (https://github.com/danmayer/coverband_demo) with it's gemfile pointed at my local machin

[2019-02-12 10:18] gingerlime commented on #188
Yeah, I think it should be a separate issue as well.

Perhaps a silly question, but where would the original folder paths come from? is it something that coverage generates for coverband? I wonder if it's also possible/preferable to canonicalize the folders at that point? rather than during merge?

In any case, probably best to discuss options on the new issue :) I'll open a new one and we can con

[2019-02-12 10:25] gingerlime opened #193 "data size can balloon under certain conditions"
Relates to the discussion on #188.

If the folder structure of the app changes when code is deployed (e.g. incremental release id sub-folders), the data size can grow unbounded, with every deploy.

This is due to the fact that keys are based on the full path.

There are a few options for resolving this (still in discussion):

* when [merging](https://github.com/danmayer/coverband/blob/2f0785eac742

[2019-02-12 10:27] gingerlime commented on #188
created #193. Will close this for now :)

Thanks again @kbaum and @danmayer for your incredible support.

[2019-02-12 10:27] #188 closed

[2019-02-13 01:17] danmayer commented on #193
yeah, I like the idea of using relative paths while reporting opposed to merging... Both solutions would generally be in the background thread and shouldn't case to much of a performance issue.

@kbaum I think you also preferred relative paths vs merging.

One thing to note, is this likely doesn't work for gem and stdlib Ruby files as their paths aren't always relative to the app.

* gems we could

[2019-02-13 01:17] danmayer commented on #193
thoughts @gingerlime / @kbaum I can start working on an implementation.

[2019-02-13 01:21] kbaum commented on #193
I think relative paths within our store (redis) is a solid solution. I don't think performance should be an issue either. Could always optimize with an in memory cache of absolute path to relative if it became an issue.

[2019-02-13 02:24] gingerlime commented on #193
just to clarify, reporting means when coverage data gets pulled from coverage and stored? (as opposed to the web interface report). Sorry, I'm not entirely familiar with your terminology :)

Yes, intuitively it makes the most sense to me.

The only downside I can think of is if you change your `root_paths` regex at some point, you also need to clear your data, because it won't be able to "backport

[2019-02-13 03:14] danmayer commented on #193
yeah sorry the terminology could be improved runtime reporting is when we send data to the store... client reports are when we view the data... There has to be some better names for that. Runtime collection is what I used for a while but collecting the data in memory is different than submitting it to a persistence layer.

Anyways, I have a first version working locally. I need more time to clean

[2019-02-13 03:20] gingerlime commented on #193
Awesome! Thanks @danmayer.

Suggestion for naming:

* collection (getting coverage data in memory)
* storage or persistence - storing it in redis (or another data store)
* consolidation or processing or transformation - any merges, updates that might not happen on collection or storage (not sure if it's a thing)
* reporting - when displaying data or storing coverage reports (I guess there's online

[2019-02-13 12:56] kbaum commented on #193
I like this naming and it happens to mostly already agree with how the files and classes are named.

[2019-02-14 02:47] danmayer commented on #193
ok sorry for the delay got a bit side tracked take a look @kbaum / @gingerlime

https://github.com/danmayer/coverband/pull/195

[2019-02-14 02:49] danmayer commented on #193
add the moment the code folder is called adapters with the idea we could store to more than redis... perhaps storage_adapters or persistence_adapters would be better

[2019-02-21 16:41] bf4 commented on #193
To consider: I just discovered coverband was storing 25MB in our redis instance. It would be trivial to show the data size in the UI, no?

[2019-02-21 16:59] danmayer commented on #193
That is a great idea @bf4 that also sounds like a big number, I could likely reduce / compress. Is that with the gem tracking enabled or without?

Also, what mechnism did you use to find the size, guessing not just the full redis size as it is often shared. Did you call some command to get the space on the coverband namespace? If you could share that it would be great. I can add it to the UI to he

[2019-02-21 17:13] bf4 commented on #193
@danmayer it's just a rails app with no config.  I zipped it and emailed it to myself before clearing it.  Then I set up a separate Redis for coverband

[code]

and ensured the old data was deleted

[code]

[2019-02-21 17:31] gingerlime commented on #193
@bf4 perhaps you're bumping into the same issue I was having, with multiple folders? then each deploy would increase the size.

I just did a quick check with the version in #193, after several deploys and running for some time

[code]

Comparing to the main version, size was an order of magnitude higher. So I guess this is another :+1: for getting #193 out.

[2019-02-21 17:36] danmayer commented on #193
Thanks all this is great. I will take a look... I need to fix the duplicate ignores issue... Then I can add a view for this... Thinking we should get the release out with these fixes... Then I think there will be some further improvements around this and a big refactoring related to paths, storage, migrations, etc in the next release.

@bf4 do you have the deployment changing directories thing tha

[2019-02-21 19:26] bf4 commented on #193
@danmayer I hadn't looked very carefully at the JSON. We're on heroku.... yup here's a simple grep, 66 lines

[code]

[2019-02-22 02:16] kbaum commented on #178
Has this happened of late?

[2019-02-22 02:29] kbaum commented on #187
What do you think of organizing like:

[code]

The idea would be if it mimics the lib directory structure and is under test/coverband, then it's a unit test. If it's under test/integration, then it's an integration test.

[2019-02-22 14:49] CharlesMcMillan commented on #193
I assume the relative path fix discussed above would fix this issue, but I just wanted to note that somehow mysteriously we are not seeing this issue on our heroku app...On inspecting our redis, I don't see the /tmp/build_.../ directory structure but rather just something like app/...

@bf4 What buildpacks do you have on your app? I wonder how your app code is nested under that tmp/build_.../ dire

[2019-02-22 15:16] danmayer commented on #187
yep that is exactly what I am thinking

[2019-02-22 15:20] danmayer commented on #193
I have seen the `/tmp` thing on heroku before I am thinking we could add that directory to the default ignores and document files are run from there during heroku build / deploy process. I think it might be during asset compilation or something like that.

[2019-02-22 15:54] bf4 commented on #193
@CharlesMcMillan

[code]

it could be the freetds one

[2019-02-22 19:43] danmayer commented on #193
so basically I think we want only the first entry...

[code]

and ignore all the `/tmp` runs

[2019-02-22 20:29] danmayer commented on #193
I confirmed that if you have asset building on with heroku it will run the code in this `/tmp` folder and add a bunch of files to Coverband... once per deploy...

[code]

I am adding to the default ignore.

[2019-02-22 20:55] danmayer commented on #193
OK, size of data used in Redis by Coverband is now available on the webview both in bytes and Mb

[2019-02-22 21:29] danmayer commented on #193
OK, ignoring `/tmp` is in... so I guess the only think needed for release would be the first 'migration' task.

[2019-02-22 21:31] danmayer commented on #193
if anyone wants to verify the /tmp or the duplicate roots issue feel free to run against master branch by updating your `Gemfile`

[code]

[2019-02-22 21:39] danmayer commented on #193
changes are also deployed to demo site

https://coverband-demo.herokuapp.com/coverage/settings

[2019-02-22 21:40] danmayer commented on #178
no let's close this out

[2019-02-22 21:40] #178 closed

[2019-02-22 22:30] danmayer commented on #193
ok @gingerlime and @kbaum first version of migration is up as a PR, I tested it on coverband_demo running it on an old version and a new one and verifying the results combined.

https://github.com/danmayer/coverband/pull/198

[2019-02-23 16:35] danmayer commented on #193
ok closing this, as it should be addressed with all the fixes in the 4.1.0 release

[2019-02-23 16:35] #193 closed

[2019-02-23 16:39] danmayer commented on #175
I will investigate this in the next couple of weeks as I get access to a codebase that reproduces this issue.

[2019-02-23 19:12] gingerlime commented on #193
Thanks a lot for fixing this. Excited to roll it out to staging next week, and hopefully production soon after.

[2019-02-23 19:18] danmayer commented on #193
great let me know if you find any other issues @gingerlime

[2019-02-24 03:54] #187 closed

[2019-02-26 13:46] kbaum commented on #186
Was thinking about how this issue impacts the gem reporting feature. Because bundler eagerly requires all of the gems, it will be challenging to know which gems are not being used since they will all have some coverage.

[2019-02-26 15:40] danmayer commented on #186
yeah agreed at the moment it is really hard to know things just loaded vs used.

[2019-02-28 20:46] kbaum opened #201 "Add gem coverage to README"
We just recently added ability to track gem coverage from the report using track_gems and gem_details.

[2019-03-03 01:47] kbaum commented on #201
Was thinking about taking a stab at revisiting this section in the readme:

https://github.com/danmayer/coverband#collecting-gem--library-usage

@danmayer - that section currently mentions:

I guess this would be done by including coverband first in your Gemfile? Just did some quick searches and it looks like bundler requires gems in order they are listed within the Gemfile.

[2019-03-06 02:50] danmayer commented on #175
OK, I have been working with a code base having this issue. I believe I now have a reproducible set of steps, but need to dig in a bit further... I am currently looking at issues / leaks around calling `coverband.start` before the fork and after, which does a bit more work than it needs to. I am thinking the solution will look something like `coverband.restart` since rescue calls `coverband.stop`.

[2019-03-06 02:51] danmayer commented on #201
Should we close this with your recent PR @kbaum?

[2019-03-06 13:00] kbaum commented on #201
Good call!

[2019-03-06 13:00] #201 closed

[2019-03-06 13:09] kbaum commented on #175
Interesting.. in the latest coverband, we stop the background thread before the first fork but I think the ruby ::Coverage library will still be `Coverage.running?`.

https://github.com/danmayer/coverband/blob/master/lib/coverband/integrations/resque.rb#L7

One way to turn coverage off is to just call `Coverage.result` before fork:

[code]

Curious what the underlying cause of this leak is though.

[2019-03-06 13:19] kbaum opened #203 "Add gem load ordering section to README"
Based on our recent discussions, I think we should add a section on Gem ordering to the documentation.

1. coverband must come before any gem you wish to track
2. coverband must come after gems with custom integrations like rails and resque

It looks like the coverband Railtie will be skipped over if coverband does not see Rails defined:

https://github.com/danmayer/coverband/blob/master/lib/cover

[2019-03-06 15:52] danmayer commented on #175
yeah, we could actually stop Coverage, but I don't think we really want to it is fine to start it and then fork I believe.

At the moment, I can show memory growth processing jobs if I call Coverband start again in each fork, but haven't fully identified why.

I have also, shown via a test that calling configure multiple times that it will leak redis connection info... but I don't believe that sho

[2019-03-06 15:54] danmayer commented on #203
Only thing I could think of is trying to attach a listener and if those objects are loaded AFTER Coverband it could trigger the integrations... but it is a lot of complexity so probably better to just document the order/expectations.

[2019-03-06 23:03] kbaum commented on #175
I think I need to better understand memory growth in forked ruby process. My understanding is that once you fork the process, any memory growth in child is limited to the child. Resque child worker dies after the job executes so any memory growth should go away after the job completes I would think.

[2019-03-07 15:21] danmayer commented on #175
I agree this matches my understanding, so I am still a bit confused on the leak. I am still learning a bit more about how systems run and infrastructure so I can do some more in-depth debugging to fully understand the issue.

[2019-03-13 02:02] danmayer commented on #175
OK @kbaum I believe I finally figured this out... Some cleanup from all my debugging and additional testing to follow, but this seems to be the root of the Resque issue.

[code]

[2019-03-13 12:27] kbaum commented on #175
Interesting. I believe I've seen this before when playing with unicorn and forking a while back. It seems like coverage data does not get copied properly on fork.

Does this explain the memory leak though?

Previously i had thought this wasn't a big issue since coverband merges the coverage data with what's already stored in redis.

[2019-03-13 15:29] danmayer commented on #175
so the merge happens after we try to split the previous_coverage and current_coverage... So the error comes from trying to merge data that is negative.

In terms of if this relates to a memory leak, I am not entirely sure until I run it at volume, I have it running on 2 systems now and I am monitoring...  I can't entirely explain the memory issue but the negative numbers cause some errors and odd

[2019-03-13 15:29] danmayer commented on #175
I updated the code to detect when this situation arises and handle it correctly

[2019-03-14 02:19] danmayer commented on #203
I think you covered this well enough we should close @kbaum ?

[2019-03-14 02:21] danmayer commented on #175
so far so good going to move to higher volume systems soon.

[2019-03-14 10:13] #203 closed

[2019-03-16 12:17] kbaum opened #212 "Build failing for rails 4 ruby 2.5.X"
Looks like rails needs bundler to be < 2.0. We are trying to install an older version of bundler but for some reason travis is not having it.

![image](https://user-images.githubusercontent.com/96786/54475099-d9378500-47c3-11e9-85ac-2add9c3e36ba.png)

[2019-03-16 15:03] danmayer commented on #175
OK, on higher volume systems and going well, should be able to officially call this closed after putting on highest volume system early next week.

[2019-03-17 15:53] danmayer commented on #212
fixed, had to add another line to the circleCI hack to delete 2.0.1 on another version of Ruby

[2019-03-17 15:53] #212 closed

[2019-03-19 00:16] danmayer commented on #175
OK, I am marking this as resolved the 4.2.0.rc1 is live on an extremely high volume site with Resque without any memory issues.

[2019-03-19 00:16] #175 closed

[2019-03-19 14:19] danmayer opened #215 "re-investigate view layer support"
While stdlib Coverage doesn't support correct runtime line coverage of compiled view templates. I believe you can get a number of hits to an individual view file. This would still be very helpful in finding dead view files. We could likely give something similar to the Gem index view without the details layer for view files... the number of times eager loaded / executed for the full file.

If we c

[2019-03-20 03:40] danmayer commented on #215
This, by the way, was a real-world request for folks using the gem at my work ;)

[2019-03-20 18:51] amw-zero opened #216 "Provide the Ability to Manually Clear Coverage"
The main use case for manually clearing the coverage for a file is for when the caller of a class changes, but the implementation of the class does not. An example of that is when the caller passes data differently into a method and a branch in that method stops being taken.

In this case, it would be useful to be able to manually clear the coverage that way you can start recollecting it after the

[2019-03-20 18:51] amw-zero opened #217 "Provide the Ability to Manually Clear Coverage (for single file)"
The main use case for manually clearing the coverage for a file is for when the caller of a class changes, but the implementation of the class does not. An example of that is when the caller passes data differently into a method and a branch in that method stops being taken.

In this case, it would be useful to be able to manually clear the coverage that way you can start recollecting it after the

[2019-03-20 21:08] kbaum commented on #217
@amw-zero - it is currently possible to clear the coverage via the rake task:

https://github.com/danmayer/coverband#clear-coverage

Or via the web endpoint assuming Configuration#web_enable_clear is enabled (default is false).

https://github.com/danmayer/coverband#clear-coverage

Is there something else you were picturing or does this meet your needs?

[2019-03-21 02:05] danmayer commented on #217
Thanks for responding @kbaum I was going to recommend the same things. Are you looking for a way to clear a single file? If so that isn't something we have done before clear everything is the only option at the moment, but if you are requesting that it would be good to know how often that is needed vs clearing all.

* I am closing this other ticket as a duplicate https://github.com/danmayer/coverb

[2019-03-21 02:05] danmayer commented on #216
closing as duplicate of #217

[2019-03-21 02:05] #216 closed

[2019-03-21 12:41] amw-zero commented on #217
I think clearing a single file would be useful. Wiping all of the coverage data would lose valuable info across the codebase. In my case, I have a very specific file that I’d like to clear because I believe some code is not getting hit anymore in it.

[2019-03-21 14:38] danmayer commented on #217
OK, thanks @amw-zero for now clearing all is the only method, but I can look at adding this feature to the roadmap. I am thinking on the individual file page @kbaum we could have a button at the top to reset file coverage.

[2019-03-22 02:36] kbaum commented on #217
I like that idea. This seems like it would be a common use case.

[2019-03-26 04:05] danmayer commented on #161
targetting 4.2.0 for this fix

[2019-03-26 12:12] kbaum opened #220 "Add rubocop to the project"
It's always nice to have rubocop on a ruby project so everyone is following the same rules.

 I use vim ale which autocorrects based on rubocop settings. I'm sure other editors have the same type of help.

[2019-03-26 14:05] danmayer commented on #220
yeah, I have been using Rubcop on the project already, I just haven't setup CI to enforce or checked in the ruleset which means often things deviate from my rules... Good call that we should just get it checked in and configured so everyone can use it the same.

[2019-03-26 14:07] danmayer opened #221 "Coverband Needs A Logo"
Anyone from the design world looking to contribute to an open source project? My design skills are not good. I would love to have a cool logo for Coverband's readme, favicon, and web-ui

Happy to help review, answer questions, etc if someone wants to work on this.

![Your_Logo_Here_Round_Ornament_300x300](https://user-images.githubusercontent.com/24925/55005480-b1090c80-4fa1-11e9-80bc-1c93d95ba284

[2019-03-30 22:21] danmayer commented on #186
for progress on this @CharlesMcMillan see the work in progress PR https://github.com/danmayer/coverband/pull/219

[2019-04-02 01:11] kbaum opened #223 "COVERBAND_DISABLE_AUTO_START not working"
Even though I set COVERBAND_DISABLE_AUTO_START, I noticed that the redis instance had data. I have a hunch it's the railtie but have to dig in some more:

https://github.com/danmayer/coverband/blob/master/lib/coverband/utils/railtie.rb

[2019-04-02 02:07] danmayer commented on #223
hmmm OK yeah we should dig in, I did notice recently that files in `config.safe_reload_files` seem to be firing more than once, perhaps related to eager load vs next call?

[2019-04-02 02:08] danmayer commented on #223
Does the data change in redis over time or just get populated once

[2019-04-02 12:00] kbaum commented on #223
On startup of my rails server, a breakpoint is hit from the railtie hitting report_coverage.
[code]
Then it is hit again from the background thread on the first request:

[code]

Then on a regular interval, the background thread hits again:

[code]

This makes sense because we have a default of
[code]
And the store is set to the redis url:
[code]

Just to go over the use case for this, I was think

[2019-04-03 23:21] davewoodall commented on #221
Hey @danmayer! Dave, from LS / Boulder office days. We had a good walk around the block, once 😄
I'm not a logo designer but I like to doodle. I'd be willing to give it a shot if you'd like. Take a look at [some of my old doodles](https://dribbble.com/fakefarm/) and see if what I can do matches what you are thinking for 'skill level'.

[2019-04-04 03:22] danmayer commented on #221
Yeah man that would be great. I love the little animals perhaps a few playing instruments as a band? Open to whatever direction you want to give it a go.

[2019-04-04 07:15] mirzazulfan commented on #221
Hi @danmayer I've designed a logo, what do you think? if you have an idea please share with me, it would be better for me. Best regard. :)
![coverband](https://user-images.githubusercontent.com/36124339/55536488-17013c80-56e4-11e9-9a6a-34b64ebd2c75.png)

[2019-04-04 16:40] danmayer commented on #221
Thanks @mirzazulfan these are cool. I like how the colors would work well to indicate coverage or percentage good. Might need a red to cover the bad cases.

I really appreciate you submitting some designs, thanks so much.

I am trying to decide if the `</>` in the middle makes it too busy. I like the idea of trying to make the logo play off the idea of small local bands that play cover songs, or p

[2019-04-04 17:24] davewoodall commented on #221
Those are creative. Nice work @mirzazulfan!

I have a music concept in mind that I'm going to work on later today. @danmayer, would you happen to have a few sizes in mind of where you'd ideally be using this?  What's the biggest _and_ smallest you'd see using this?

[2019-04-04 18:15] danmayer commented on #221
smallest is a favicon but that could continue to just be green, yellow, red squares to indicate status... nav bar would be the most common and visible in the UI. Think the top left of a nav bar to go "home"... Then on the readme, demo site, and promotional stuff as a bigger hero like logo.

some could be logo only some could be logo and text

[2019-04-05 09:59] mirzazulfan commented on #221
Thank you guys. I made the 2nd version, hope you like it.
![cbv2](https://user-images.githubusercontent.com/36124339/55620026-1fc93f80-57c4-11e9-8376-981f3bad54be.png)

[2019-04-06 15:10] danmayer commented on #221
Cool, thanks @mirzazulfan  I think I like the bottom design best with the circle, although that makes it harder to tell it is a 'b'.

What formats do you have the designs in?

Any update @davewoodall would still love to see what you were thinking as well...

[2019-04-06 15:33] mirzazulfan commented on #221
Glad to know. I'll send the .svg .png format and all the files and sizes needed. So what color do you prefer? @danmayer
![cb2](https://user-images.githubusercontent.com/36124339/55671594-de1bc000-58bb-11e9-9ddd-8a0c6d0d520d.png)

[2019-04-06 21:51] #223 closed

[2019-04-06 21:52] kbaum commented on #220
@danmayer - should we add codeclimate? I think this includes rubocop checks.

[2019-04-07 16:32] danmayer commented on #220
yeah we could add that since we are open source it should be free

[2019-04-07 17:05] davewoodall commented on #221
Hey Dan,

I'm trying to incorporate the 3 colors of the app (red, yellow, green) with the music concept. Included are the black and white concepts as well as a 2nd copy with loose coloring to see where I might take the vector art. So far, I have put together 24 concepts which really fall into 3 main idea;

## Idea 1. Instruments
Incorporating C & B into instruments. I thought about the C fitting i

[2019-04-08 03:31] danmayer commented on #221
I think it could we worth exploring a bit more before making a final decision, haven't had a logo for 7 years so no reason to rush into it ;) @davewoodall

I like 1, 6, 2 1

I think 21 could be the most fun an allow for some interesting UI like a different person / circle for each color (or status)... Also, having people allows for changing them up a bit from time to time, like the Octocat for Git

[2019-04-08 12:02] kbaum commented on #220
Agreed. I tried to add but i don't think i have permission.

[2019-04-08 22:36] davewoodall commented on #221
Sounds good, @danmayer. I'm thinking we start with 21. Because I agree with your vision and that one is my favorite as well. Depending on how it turns out we can move onto the next. @mirzazulfan, any interest in collaborating / working on these concepts?

![Screen Shot 2019-04-08 at 6 35 30 PM](https://user-images.githubusercontent.com/587705/55761388-1db5e980-5a2d-11e9-8abb-6392364e1632.png)

[2019-04-11 04:40] danmayer commented on #221
cool looking forward to seeing what you come up with

[2019-04-15 20:41] davewoodall commented on #221
How's this?
![v1](https://user-images.githubusercontent.com/587705/56163767-29f5f580-5f9d-11e9-8221-93fdae184951.jpg)

[2019-04-16 21:57] danmayer commented on #221
Nice, I dig it.

Thoughts...

* perhaps try a font alternative (if you already have and this is best no worries)
* I assume the vector files we could pull out any of the circle / colors to use for favicon / status

I like how versatile it can be I can see using it a number of different ways, which is really cool.

Any thoughts or word @mirzazulfan ?

[2019-04-18 18:56] danmayer commented on #221
So @davewoodall thoughts for next steps? I am thinking a PR that

* adds the vector files to /docs
* inserts image near top of the readme
* then I can set the logo to be the social image for the git repo: https://twitter.com/natfriedman/status/1118590385180200961?s=19

[2019-04-18 23:11] davewoodall commented on #221
@danmayer,

Great to hear!

I did poke around with some fonts but nothing stood out. How about this idea... if you're okay with this font for now, then I will PR this one. If a better font comes to mind, then I can swap it out then?

Yep, and if you want me to put different hues, I'm happy to do that as well.

If you have any specific sizes / arrangements to use, I can format them and provide for

[2019-04-19 17:34] danmayer commented on #221
sounds good on the font

yeah if you can put in a few different hues on the red -> green type failed -> success scale that would be great.

On sizing whatever you think looks best for the readme logo size to start once I work with the files I can show you where they are used in the UI and you can perhaps make adjustments as needed

[2019-04-19 22:09] davewoodall commented on #221
Today got away from me. I will do it first thing next week!

[2019-04-20 02:28] danmayer commented on #221
no worries thanks @davewoodall

[2019-04-21 19:05] danmayer commented on #220
This is coming after the next release because we will want to do a large refactoring to match the initial default rules pretty quickly and I didn't want to add that into the fairly large code changes.

[2019-04-21 19:06] danmayer commented on #217
this is now on the 4.2.0 branch

[2019-04-21 23:27] bhb opened #230 "Following README instructions to "Ignore Files" causes gems to be tracked"
Environment:
* Rails 5.2.3
* Coverband 4.2.0.rc1

Repro:

1. In new Rails app, add config file at `config/coverband.rb` with contents
1. Set up route to view coverage report https://github.com/danmayer/coverband#coverage-report

[code]
1. According to [these instructions](https://github.com/danmayer/coverband#ignoring-files), add the following config changes

[code]

1. Boot Rails app, load a page

[2019-04-22 01:10] kbaum commented on #230
Thanks for reporting this issue. I think this seems like a straight forward solution in that allows for maximum flexibility for someone to actually overwrite the defaults if that's what they wanted. @danmayer  update the readme to match the `+=` approach?

[2019-04-22 03:30] danmayer commented on #230
yeah makes sense, I will update the readme now, it is actually how I update the config in the demo app. I am wondering if we should give a warning if someone actually fully overwrites ignore since it can have unexpected consequences.

https://github.com/danmayer/coverband_demo/blob/master/config/coverband.rb#L19

[2019-04-22 03:32] danmayer commented on #230
updated the readme to match the `+=` usage.

https://github.com/danmayer/coverband/commit/f5bbf02462c2d8dca37a149eb4e307306f4e58ed

[2019-04-22 03:32] #230 closed

[2019-04-22 03:34] danmayer commented on #217
closing as this is on master and the 4.2.0.rc2 release

[2019-04-22 03:34] #217 closed

[2019-04-22 03:35] danmayer commented on #186
closing as this is on master and the 4.2.0.rc2 release

[2019-04-22 03:35] #186 closed

[2019-04-22 03:35] danmayer commented on #161
closing as this is on master and the 4.2.0.rc2 release

[2019-04-22 03:35] #161 closed

[2019-04-23 14:43] danmayer commented on #221
awesome @davewoodall merged and updated the social share image, I will start to work on using it in the web-ui as well.

Closing this out thank!

[2019-04-23 14:43] #221 closed

[2019-04-24 14:10] danmayer commented on #217
OK @amw-zero if you check out the 4.2.0 release this is now fixed https://github.com/danmayer/coverband/blob/master/changes.md#coverband-420

[2019-04-24 14:11] danmayer commented on #186
ok @CharlesMcMillan if you check out the 4.2.0 release this is now fixed https://github.com/danmayer/coverband/blob/master/changes.md#coverband-420

[2019-04-24 14:19] danmayer commented on #221
OK @davewoodall Your logo made it into the 4.2.0 release! https://github.com/danmayer/coverband/blob/master/changes.md#coverband-420

I called out the logo on twitter, but I can't find you anymore on twitter did I miss you? Or somewhere else I can give you some credit?

[2019-04-24 21:18] kbaum opened #234 "Rake coverband:coverage task no longer working"
Version: 4.2.0.rc2

Run `rake coverband:coverage` and see no output to reproduce.

thx.

[2019-04-25 12:42] kbaum commented on #234
Just thinking about this one. Would it make sense to support this task by just starting a rack server locally and serving the report in the same way we do when it's embedded in rails app? This might simplify things.

[2019-04-25 15:01] danmayer commented on #234
hmm interesting idea @kbaum could be nice in terms of having a single experience.

honestly, the fix is easy I am more concerned with figuring out some good tests to catch this... The tests around the reporting need to be reworked as we add more front end complexity.

The fix is to pass in a new var from the HTML Reporter, to set if we are static or dynamic... `static = true` or something.

Then u

[2019-04-25 15:04] danmayer commented on #234
I guess not well named, but we already from the reporter call two different paths and we can tell static or dynamic based on `base_path` this is already used to handle how we render assets differently

https://github.com/danmayer/coverband/blob/master/lib/coverband/utils/html_formatter.rb#L79

[2019-04-25 15:27] kbaum commented on #234
If it's a quick fix, i can see just moving forward with it for now. In terms of testing, we could punt and longer term move towards reporting always being a rack server. Then we could go with a capybara style feature test for it.

The downside of having only a rack server is that we wouldn't be supporting use cases of serving the report from s3 or a continuous build services.  In my case since our

[2019-04-25 17:20] davewoodall commented on #221
Great to hear! I'm not on twitter and I didn't do this for credit but if you insist, feel free to share my homepage. 😊 [davewoodall.com](http://www.davewoodall.com). Thanks, @danmayer!

[2019-04-25 20:27] jagthedrummer opened #235 "Sortable gem coverage?"
The new gem coverage is awesome! I'd love to be able to sort them by the various column headers just like for regular files. Am I missing something there?

[2019-04-25 22:39] kbaum opened #237 "Add runtime percentage to Gems tab"
![image](https://user-images.githubusercontent.com/96786/56772771-5ffb5c80-6789-11e9-8114-c80c3c392381.png)

Since gems are required on eager load, it would be great to see which gems are used at runtime. If a gem is not used at runtime, it's a good candidate to remove from Gemfile.

[2019-04-27 02:30] danmayer commented on #235
Yeah I built a simplified gem view but I could move it all into data tables so they are sortable, thanks I will keep this open as a feature request.

[2019-04-27 02:31] danmayer commented on #237
good call and this will be easy to add basically I just didn't update / refactor the gem templates to share and be more like the standard file templates.

[2019-04-27 02:32] danmayer commented on #237
We can definitely get this in the next release.

[2019-04-27 14:29] danmayer commented on #221
yep understood not for the credit, but always nice to share when someone does something awesome. I update the readme and changes log to thank you and link to davewoodall.com

[2019-04-30 21:49] ckumar1 opened #242 "Coverband::Reporters::HTMLReport.fix_reports method is incorrectly setting filtered_report_files"
The [`fix_reports`](https://github.com/danmayer/coverband/blob/v4.2.0/lib/coverband/reporters/html_report.rb#L51-L61) method is setting the value of `self.filtered_report_files` to `reports` instead of `filtered_report_files` so it is missing all the files that were not tracked by coverband. This causes the generated report to be inaccurate and only count files that were tracked by coverband.

The

[2019-05-01 02:50] danmayer commented on #242
Thanks looks good I will add tests and get this added in soon.

[2019-05-01 02:51] danmayer commented on #242
Files that aren't showing then have 0 load or runtime coverage, which we should help surface so folks can delete

[2019-05-01 12:04] kbaum opened #244 "Race condition with background thread and rails integration"
Noticing a race condition with the background thread reporting and the rails integration. It seems to effect the split between the runtime and eager_loading data. Currently theory is that the background thread reports coverage while eager loading is happening. Will look into it more soon.

[2019-05-02 03:50] danmayer commented on #242
Just added some tests on a branch that will make it much easier to verify and fix this issue, likely will get to that tomorrow

[2019-05-02 04:39] ckumar1 commented on #242
Sounds good, I'll continue to test this use case and let you know if any other issues come up.

[2019-05-03 04:30] danmayer commented on #234
resolved

[2019-05-03 04:30] #234 closed

[2019-05-03 11:43] kbaum commented on #244
Wasn't able to reproduce this one today so i am going to close for now.

[2019-05-03 11:43] #244 closed

[2019-05-03 14:49] #235 closed

[2019-05-03 14:49] #237 closed

[2019-05-03 14:49] #242 closed

[2019-05-04 04:10] danmayer commented on #220
OK, beyond rubocop on CI we also have code climate attached and following the repo. I didn't move code coverage over to Code climate yet but we can perhaps move over to that in the future.

https://codeclimate.com/github/danmayer/coverband

[2019-05-04 04:10] #220 closed

[2019-05-05 13:14] kbaum opened #248 "Rake static html coverage report not working"
Tried generating the html coverage report from master. Debugged the task a bit and see that it is making [this call](https://github.com/danmayer/coverband/blob/master/lib/coverband/utils/tasks.rb#L14):

[code]

Which is ending up in the [Base::report](https://github.com/danmayer/coverband/blob/master/lib/coverband/reporters/base.rb#L12) class method. Not sure if this is intended but when i changed

[2019-05-05 13:27] kbaum opened #249 "Clearing coverage generates coverage"
Start with an empty redis using redis-cli:

[code]
Execute clear coverage task:
[code]
Then look in redis using cli:
[code]
And there will be some data.

The same issue occurs with `coverband:coverage`.

This can be very problematic if someone is generating coverage from their local machine while pointing at production. In my case this is needed since our rails server is api only and I cannot host

[2019-05-05 16:42] danmayer commented on #248
hmmm, OK let me take a look... That branching we can make more clear this gets into one returns HTML as a string for the web server That is the `if html` case. Perhaps we can call that dynamic_html and the other case is static HTML written to a local file. The Rake task uses the static HTML written to the file.

In terms of the bug I don't really understand the top part about the call to the class

[2019-05-05 16:44] danmayer commented on #249
hmm, interesting, guessing that `at_exit` on the rake task writes coverage AFTER clearing it. I think having the internal Coverband tasks disable `at_exit` on load is the best approach here. I will take a look at that.

[2019-05-05 16:49] danmayer commented on #249
confirmed it is `at_exit` fixing for all rake tasks

[2019-05-05 18:13] danmayer commented on #248
yep looks like I broke this during this refactoring here:
https://github.com/danmayer/coverband/commit/d019b370adbdea4c625158b18f1cdce257a6375f#diff-0c30a7c863d6f2f72ed19d5f41f15950

pushed fix on the current PR branch for this as well, but still need to revisit how to test this to avoid regressions

[2019-05-06 16:29] #248 closed

[2019-05-06 16:29] #249 closed

[2019-05-07 17:51] jagthedrummer opened #252 "Increased CPU usage in v4.2.0"
We updated to coverband 4.2.0 a while back from 4.0.1 and we've noticed steadily increasing CPU usage ever since. After disabling coverband entirely it returned to "normal" levels. At the same time that we updated to 4.2.0 we also enabled gem tracking, but turning off gem tracking by itself didn't seem to have any effect.

Here are some screenshots to illustrate what we're seeing.

A few days wort

[2019-05-07 18:02] danmayer commented on #252
hmm thanks for reporting @jagthedrummer we introduced the load vs runtime coverage in 4.2.0 and that seems likely to be the cause. I will try to dig in further. I release on a fairly high traffic volume site and didn't notice such a change.

Could you attach the basic Coverband config settings you have to help with debugging? I am assuming you are using the background thread reporting (now default

[2019-05-07 18:14] danmayer commented on #252
Oh, I should mention that I don't have the gem support enabled on high traffic sites yet, I believe there are still some performance overhead concerns with enabling.

Particularly, in your config please share how you set the ignore, we had a recent report that it can re-enable gem tracking when following the old readme. This might be the cause of the issue you are having, my best guess at the mome

[2019-05-07 18:26] jagthedrummer commented on #252
Here's our `config/coverband.rb`
[code]

We're using Phusion Passenger as the webserver, and sidekiq for background work.

We have this sidekiq middleware in `config/initializers/coverband_middleware.rb`
[code]

And in `config/initializers/sidekiq.rb` we do this:
[code]

[2019-05-07 18:30] jagthedrummer commented on #252
I don't know if it's related or should be a seperate ticket, but it may be worth mentioning that earlier this week, before disabling coverband entirely we noticed that we could no longer hit the `/coverage` web route. It would constantly run longer than 25 seconds and the request would be killed by heroku.

[2019-05-07 18:30] danmayer commented on #252
Cool thanks, I will look at this. I haven't used Passenger for years, so I might need to dig into their model a bit to make sure we aren't doing anything that wouldn't work well with it's default setup, we previously learned that we had to detect and handle some odd cases for the default Resque setup, not currently aware of any issues with Passenger, but I can take a look.

Also, if you switch fro

[2019-05-07 18:43] danmayer commented on #252
the slow reporting is almost certainly the attempts at processing the gem coverage data that get in while enabled, so ensure gem_tracking is disabled and clear the Coverband data via the rake task or via Redis.

[2019-05-07 18:54] kbaum commented on #252
Just quickly looking at this. We should not need the custom middleware for rack or sidekiq as coverband launches a background thread by default. Basically it dumps coverage data to redis every 30 seconds and also when the process exits. This could help with the CPU as coverband would be running much less frequently.

[2019-05-07 19:11] danmayer commented on #252
Yeah good call @kbaum I think when upgrading from 4.0 we should have made it more obvious the new styled do not need these sort of custom integrations.

Those should all be removed as Cover and is now doing double duty and reporting multiple ways.

I wonder if we could detect and give a good understandable error if multiple integration points are detected. I am about to fly so I will dig in more l

[2019-05-07 20:13] jagthedrummer commented on #252
Thanks y'all. I'm going to do the following and then will report back (it might take a few days).

* Remove our custom middleware
* Clear our coverband redis
* Re-enable coverband (without gem tracking)
* Monitor CPU usage

[2019-05-08 02:35] danmayer commented on #252
yeah I think you can also remove the custom sidekiq work if background reporting is enabled, which it now is by default it should work for sidekiq as well without any middleware require.

Clearly, when we make these changes we need to make them much more obvious to folks updating. Our goal is that no one needs to write custom Coverband middleware of any sort anymore. If there are features you feel

[2019-05-08 17:04] jagthedrummer commented on #252
Ok, I've removed our custom middleware, cleared redis, and re-enabled coverband.

The `/coverage` endpoint is now working (and is fast), and so far we're not seeing any noticable increase in CPU usage, but last time it took a day or two to really start creeping up, so it's hard to say for sure. I'll keep an eye on it and let you know how it goes.

[2019-05-08 17:04] blakewest opened #255 "UI Support for Showing Dead Methods"
Hi! We're using Coverband at my work. We have a large, old rails codebase, and are finding tons of dead methods, which is awesome! Thank you!

Problem is, we have thousands of files, and percent coverage doesn't tell if any of the methods are completely dead. That is, not a single line of the method has been run in prod. It's a huge hassle to open up all of our 2700 files, and manually search thro

[2019-05-08 17:21] kbaum commented on #252
Great to hear! Thanks for the update!

[2019-05-08 22:10] danmayer commented on #252
Yeah that is good to hear, sorry again for the confusion on the upgrade ;)

Let us know how it goes the next few days. I am going to work on a few more performance improvements related to gem support for our next release and plan to roll it out on some high capacity apps before the next official release to ensure we have resolved the gem related performance overhead.

[2019-05-08 22:15] danmayer commented on #255
Thanks, @blakewest that is a good idea and a cool feature request. I haven't had to add a real parser into the project yet. I think to do this correctly I would need to pull in a parsing library. I am interested in giving it a shot, but I am a bit worried about the complexity it would add to the project.

I will leave this open and hope to take a look but I don't think I will get to it super soon

[2019-05-08 22:40] kbaum opened #256 "Issue with ruby coverage and || statement spanning 2 lines"
Noticed an issue today with the ruby coverage standard library that I reproduced in this project:

https://github.com/kbaum/coverage_test

See README for more detail.

I think this is a bug in ruby coverage, but wanted to see what people thought.

Thanks to @CharlesMcMillan for bringing it to my attention.

thx.

[2019-05-09 05:27] blakewest commented on #255
@danmayer yeah, we may be interested in doing some work on it. A pairing sesh could be good. I took a brief look through some of the view code, but your help would be appreciated for getting a strategy.

As far as the parsing library goes, I think we can do a V1 without importing a whole library. Since we just want to find dead methods, we can keep it simple. Option 1: Read in files, and just use

[2019-05-10 02:09] danmayer commented on #255
cool I can't likely pair next week as I am traveling for work, but I will reach out after a week or so to setup a time.

[2019-05-10 22:34] kbaum commented on #255
This is a really cool idea. I imagine the challenge might be pulling back all of the dead methods in a reasonable amount of time to display on the reporting UI. If that does end being a problem, we could decrease scope by just making a class that does this and invoking it from ruby for now. This could be invoked by a scheduled background job that outputs all of the dead methods to the logs.

[2019-05-11 21:09] danmayer commented on #230
fixed this so that the next release either `=` or `+=` will work without any confusion. see details https://github.com/danmayer/coverband/commit/e6b944b593f8ac572b6b56d5ed703b4f905b4aa1

//cc @bhb

[2019-05-15 10:51] kbaum opened #260 "Overall Coverage Since Date"
I think it's helpful to know when the last time coverage was cleared for the entire project:

![image](https://user-images.githubusercontent.com/96786/57770158-af281380-76dd-11e9-8477-116a2b10c8bb.png)

This might help the user to be more/less confident in the coverage data they are seeing on the summary page.

[2019-05-15 11:17] kbaum opened #261 "Runtime vs Eager not working for Gems in Rails application"
When tracking gems in production, I see that overall coverage and runtime coverage are the same:

![image](https://user-images.githubusercontent.com/96786/57771281-44c4a280-76e0-11e9-9ef8-8d13f10187d1.png)

Looking at the details, I can see that loading the class definitions is marked as runtime:

![image](https://user-images.githubusercontent.com/96786/57771417-a97ffd00-76e0-11e9-8f4f-e6e8d0fd586